<%- include("../partials/header")%>

<div id="main" class="main container mb-5">
    <div class="row my-4">
        <div class="col-12  d-flex justify-content-center py-5">          
            <form action="/fpass/<%=email%>" class="col-lg-6" method="post">
                <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                <div class="desc">
                    <h1 class='pb-3'>Παρακαλώ εισάγετε το νέο κωδικό πρόσβασης</h1>
                    <div class="form-group pr-3 mx-1">
                        <span class="d-flex align-items-center">
                            <input type="password" name="password" class="form-control  mr-3" placeholder="Νέος Κωδικός" required>
                            <i class="fas fa-info-circle fa-lg ">
                                <div class="tooltiptext">Ο νέος κωδικός πρέπει να έχει το λιγότερο 8 χαρακτήρες, με τουλάχιστον ένα κεφαλαίο, έναν ειδικό " !@#$%^&*)(+=._-  " και έναν αριθμό </div>
                            </i>
                        </span> 
                    </div>
                    <div class="form-group pr-3 mx-1">
                        <span class="d-flex align-items-center">    
                            <input type="password" name="password2" class="form-control mr-3" placeholder="Επιβεβαίωση Νέου κωδικού" required>
                            <i class="fas fa-info-circle fa-lg ">
                                <div class="tooltiptext">Το πεδίο αυτό, πρέπει να ταυτίζεται με το προηγούμενο</div>
                            </i>
                        </span> 
                    </div>                  
                    <div class="form-group">
                        <button class="btn btn-primary mr-3" type="submit">Αλλαγη</button>
                    </div>
                </div>
                <% if(regError&& regError.length > 0){ %>
                    <div class="alert alert-danger mr-3 d-flex justify-content-center" role="alert">
                        <%= regError %>
                    </div>
                <%}%>           
            </form>
        </div>
    </div>            
</div>

<%- include("../partials/footer")%>

