<button class="phonecall btn btn-primary d-flex align-items-center justify-content-center d-block d-md-none">
    <i class="fas fa-phone fa-lg"></i>
</button>
<button id="scrollToTop" class="scrollToTop btn btn-primary align-items-center justify-content-center d-none d-md-none">
    <i class="fas fa-arrow-up fa-lg"></i>
</button>

</div>
<!-- Footer -->
<footer id="page-footer" class="page-footer font-small hidden">

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-n2">

    <!-- Grid row -->
    <div class="row mt-1">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Πληροφοριες</h6>
        <hr class="deep-purple accent-2 mb-2 mt-0 d-inline-block mx-auto" style="width: 90px;">
        <p>
          <a href="#">Πληροφορίες Αποστολής</a>
        </p>
        <p>
          <a href="/Privacy_Policy">Πολιτική Απορρήτου</a>
        </p>
        <p>
          <a href="/Terms_Of_Service">Όροι και προϋποθέσεις</a>
        </p>


      </div>

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-4 mx-auto mt-3 ">
      		<hr>
      		<div class="row">
	      		<div  class="mx-auto my-auto">
		      		<a id="logo-foot" class="mx-auto my-auto" href="/">
						<img src="<%=root%>/images/logo-small.png">
					</a>
				</div>
			</div>
			<hr>
      </div>
      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3" >

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Επικοινωνια</h6>
        <hr class="deep-purple accent-2 mb-2 mt-0 d-inline-block mx-auto" style="width: 80px;">
        <p>
          <i class="fas fa-home mr-3"></i>Ολυμπιάδος 39, Θεσσαλονίκη</p>
        <p>
          <i class="fas fa-envelope mr-3"></i>info@scorpionclothing.gr</p>
        <p>
          <i class="fas fa-phone mr-3"></i>2310-281-363</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-1" style="background-color: #2D2B30">© 2020 Copyright:
    Scorpion
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

</div>
<div class="bsnav-mobile" style="z-index: 999!important;">
  <div class="bsnav-mobile-overlay"></div>
  <div class="navbar"></div>
</div>
<script nonce="<%=nonce%>" src="https://cdn.jsdelivr.net/gh/fitodac/bsnav@master/dist/bsnav.min.js"></script>
</body>
<script nonce="<%=nonce%>" type="text/javascript" src="/scripts/index.js"></script>
<script nonce="<%=nonce%>"  type="text/javascript" src="/scripts/navscroll.js"></script>
<script nonce="<%=nonce%>" type="text/javascript" src="/scripts/functions.js"></script>
<script nonce="<%= nonce %>"  src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.19/jquery.touchSwipe.min.js"></script>
</html>
