<!DOCTYPE html>
<html>
	<head>
		<title>Scorpion</title>
		<link href="/stylesheets/fontawesome/css/all.css" rel="stylesheet"> <!--load all styles -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
		<link href="https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,600;0,700;0,900;1,700&display=swap" rel="stylesheet">
	</head>
<body>

<div id="nav-main">
	<nav class="navbar navbar-expand navbar-light bg-light py-0">
		<div class="container-fluid">
			<div class="row">
				<ul id="f-nav" class="navbar-nav ml-auto ">
			    	<% if(!currentUser){ %>	
						<li  class="nav-item ">
						<a class="nav-link" onclick="document.getElementById('id01').style.display='block'"><span>Login</span></a>
						</li>
						<li class="nav-item ">
						<a class="nav-link" onclick="document.getElementById('id02').style.display='block'"><span>Register</span></a>
						</li>
				    <% } else { %>
						<li class="nav-item">
						<a class="nav-link" href="#">Welcome, <%= currentUser.username %></a>
						</li>
						<li class="nav-item ">
						<a class="nav-link" href="/logout">Log out</a>
				      </li>
			      	<% } %>
				</ul>
			</div>
		</div>
	</nav>


	<nav class="navbar navbar-expand-md navbar-light bg-light pt-0  mb-2">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mx-auto my-auto">
					<div class="row">
						<div class="mx-auto my-auto">
							<a id="logo-bck" class="navbar-brand mt-n2 ml-4" href="/">
								<img src="http://localhost:3000/images/alt.png">
							</a>
						</div>
					</div>
					<div class="row">
						<div class="mx-auto my-auto">
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
							</button>
						</div>
					</div>
				</div>

				<div class="col-xl-0 col-lg-0 col-md-0 col-sm-0 col-xs-0 navbar-nav mx-auto my-auto ">
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mb-n2">
							<li class="nav-item">
					        	<a class="nav-link" href="#"><span>Ισοθερμικά</span></a>
					      	</li>
					       	<li class="nav-item">
					        	<a class="nav-link .nav-link-ltr" href="/logout"><span>Στρατιωτικά</span></a>
					      	</li>
						    <li class="nav-item">
						        <a class="nav-link" href="#"><span>Φούτερ</span></a>
					      	</li>
						    <li class="nav-item">
						        <a class="nav-link" href="/logout"><span>Μπατίκ</span></a>
					      	</li>
					      	</li>
					       	<li class="nav-item ">
						        <a class="nav-link" href="/logout"><span>Έξτρα</span></a>
						    </li>
						    <li class="nav-item ">
						        <a class="nav-link" href="/logout"><span>Custom</span></a>
						    </li>
						    <li class="nav-item ">
						        <a class="nav-link" href="/logout"><span>About</span></a>
						    </li>
						    <li class="nav-item ">
						        <a class="nav-link" href="/logout"><span>Contact us</span></a>
						    </li>		  
						</ul>
					</div>
				<div>
			</div>
		</div>
	</nav>
</div>

<!-- Login Modal -->
<div id="id01" class="modal"> 
    <form class="modal-content animate" action="/login" method="post">
        <div class="pr-3"> 
            <div class="form-group" style="float:right">
                <a onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">
                    <i class="far fa-times-circle"></i>
                </a>
            </div>
        </div>
        <div id="desc">   
            <div class="container mx-auto my-auto">
                <h1>Log In</h1> 
                <div class="form-group">
                    <input type="text" name="username" placeholder="Username" required> 
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="Password" required> 
                </div>
                <div class="form-group"> 
                    <button class="btn btn-success" type="submit">Login</button>  
                </div>  
                <hr>
            </div>
        </div>
        <% if(error && error.length > 0){ %>
			<div class="container">
				<div class="alert alert-danger" role="alert">
					<%= error %>
				</div>	
			</div>
		<% } %>         
    </form>
</div>

<!-- Register Modal -->
<div id="id02" class="modal"> 
    <form class="modal-content animate" action="/register" method="post">
        <div class="pr-3"> 
            <div class="form-group" style="float:right">
                <a onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">
                    <i class="far fa-times-circle"></i>
                </a>
            </div>
        </div>
        <div id="desc">   
            <div class="container mx-auto my-auto">
                <h1>Sign Up</h1> 
                <div class="form-group">
                    <input type="text" name="username" placeholder="Username" required> 
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="Password" required> 
                </div>
                <div class="form-group">
                    <input type="password" name="password2" placeholder="Confirm Password" required> 
                </div>
                <div class="form-group">
                    <input type="text" name="email" placeholder="Email" required> 
                </div>
                <div class="form-group"> 
                    <button class="btn btn-success" type="submit">Sign Up</button>  
                </div>  
                <hr>
            </div>
        </div>
         <% if(regError && regError.length > 0){ %>
			<div class="container">
				<div class="alert alert-danger" role="alert">
					<%= regError %>
				</div>	
			</div>
		<% } %>     
    </form>
</div>

<% if(regError && regError.length > 0){ %>
	<script>
		window.onload = function() {
			var modal= document.getElementById('id02');
			modal.style.display = "block";
		}
	</script>	 
<% } %>
<%	if(error && error.length > 0) {%>
	<script>
		window.onload = function() {
			var modal= document.getElementById('id01');
			modal.style.display = "block";
		}
	</script>	
<% 	} %>


<% if(genSuccess && genError.length > 0){ %>
<div class="container">
	<div class="alert alert-danger" role="alert">
		<%= genError %>
	</div>	
</div>
<% }else if(genSuccess && genSuccess.length > 0) {%>
<div class="container">
	<div class="alert alert-success" role="alert">
		<%= genSuccess %>
	</div>	
</div>
<% } %>


		
		
	



