<!DOCTYPE html>
<html class="NotScrollable">
	<head>
		<title>Βιοτεχνία Scorpion</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Font Awesome -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet"/>
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"rel="stylesheet"/>
		<link href="/stylesheets/fontawesome/css/all.css" rel="stylesheet"> <!--load all styles -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>

		<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />

		<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/cart.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/checkout.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/reviews.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/cart_quick_view.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/admin.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/user.css">
        <!-- Google fonts-->
        <!-- <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" /> -->
        <!-- <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"/> -->
		<!-- <link href="https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,600;0,700;0,900;1,700&display=swap" rel="stylesheet"> -->
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
		<% const sizes = {
		  S : "Small",
		  M : "Medium",
		  L : "Large",
		  XL : "Extra Large",
		  XXL : "2 Extra Large"
		} %>
	</head>
<body>
	<script>
		window.cookieconsent.initialise({
		container: document.getElementById("content"),
		"palette": {
			"popup": {
				"background": "#3c404d",
				"text": "#d6d6d6"
			},
			"button": {
				"background": "#65a07b"
			}
		},
		"theme": "classic",
        "content": {
          "message": "Η Ιστοσελίδα scorpionclothing.gr χρησιμοποιεί cookies, έτσι ώστε να εξασφαλιστεί η βέλτιστη πιθανή εμπειρία χρήστη.",
          "dismiss": "Το κατάλαβα",
          "link": "Μάθε περισσότερα"
        },
		"domain": "https://scorpionclothing.gr/",
    	"secure": true,
		revokable:true,
		onStatusChange: function(status) {
			console.log(this.hasConsented() ? 'enable cookies' : 'disable cookies');
		},
		law: {
			regionalLaw: false,
		},
			location: true,
		});
	</script>
	<nav class="navbar navbar-expand navbar-light bg-light  py-0 ">
		<% if(!currentUser){ %>
			<div class="container-fluid" style="margin-top: 0.2em;">
		<% } else { %>
			<div class="container-fluid" style="margin-bottom: -0.4em;">
		<%}%>	
			<div class="row">
				<ul id="f-nav" class="navbar-nav ml-auto">
					<!-- <div class="go-left"> -->
			    	<% if(!currentUser){ %>
						<li  class="nav-item go-left-first" >
							<a class="nav-link" href="/login">
								<span>
									<i class="fas fa-sign-in-alt"></i> Είσοδος
								</span>
							</a>
						</li>
						<li class="nav-item go-left-second" >
							<a class="nav-link" href="/register">
								<span>
									 <i class="fas fa-user-plus"></i> Εγγραφή
								</span>
							</a>
						</li>
					<%} else if (currentUser && currentUser[currentUser.methods].priviledge=="Admin"){%>	
						<li  class="nav-item go-left-first" >
							<a class="nav-link" href="/admin">
								<span>
									<i class="fas fa-user-shield"></i> Admin
								</span>
							</a>
						</li>
						<li class="nav-item go-left-second" >
							<a class="nav-link" href="/logout">
								<span>
									<i class="fas fa-sign-out-alt"></i> Έξοδος
								</span>
							</a>
						</li>
				    <% } else if(currentUser) { %>
						<li class="nav-item go-left-first">
							<a class="nav-link d-flex align-items-start justify-content-around" href="/user">
								<% if(!currentUser[currentUser.methods].profile) {%>
									<img src="<%=root%>/images/blank.png" alt="Avatar" class="blank-mini mr-1" >  <span> Προφίλ</span>
								<% }else{ %>
									<img src="<%=currentUser[currentUser.methods].profile%>" alt="Avatar" class="blank-mini mr-1" >  <span> Προφίλ</span>
								<%}%>	
							</a>
						</li>
						<li class="nav-item go-left-second-logged ">
							<a class="nav-link" href="/logout">
								<span>
									<i class="fas fa-sign-out-alt"></i> Έξοδος
								</span>
							</a>
				      </li>
				  <!--     </div> -->
			      	<% } %>
			      			<% if(!currentUser){ %>
			      				<li  class="nav-item">
			      			<% } else { %>
								<li  class="nav-item">
			      			<%}%>
							
								<span class="nav-link" href=""> <!-- span instead of a so that the links inside work-->
									<span data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i  class="fas fa-shopping-cart badge-pill pl-1 ml-1">
												<%if(session.cart){%>
													<%if(session.cart.totalQuantity > 0){%>
														<div class="redIndicator desc"><p id="cart-glyphicon"><%=session.cart.totalQuantity%></p></div>
													<%}%>
												<%}%>
										</i>
									</span>
									<div class="dropdown-menu dropdown-menu-right cart-fonts">
								    <%if(session.productList && session.productList.length > 0){ %>
									<div class="align-center" >
										<div id="quick_total_qty" class="col-12 total-quantity-info px-1" >
											Το καλάθι σας έχει <%=session.cart.totalQuantity%>
											<%if(session.cart.totalQuantity > 1){ %>
												προϊόντα
											<%}else{%>
												προϊόν
											<%}%>
										</div>
									</div>
									<div class="container quick-cart-container mb-2" >
									<% session.productList.forEach(function(prd){ %>
										<%prd.variants.forEach(function(item){ %>
											<!-- <div class="dropdown-item"> -->
										<% var id = prd.product._id%> 	
											<div id="item-<%=id%>,<%=item.size%>,<%=item.color%>" class="row mx-auto my-2 jumbotron-mini">
												<div class="col-4 align-center" > <!--picture -->
													<div>
														<% prd.product.images.forEach(image => { %>
															<% if (image.colorTag == item.color) { %>
																<a href="/products/<%=prd.product.type%>/<%= prd.product._id %>">
																	<img class="quick-cart-img" src="<%=image.url%>"></img>
																</a>
															<% } %>
														<%});%>
													</div>
												</div>
												<div class="col-8">
													<div class="row mb-2 d-flex justify-content-start">
														<div class="col-10 d-flex justify-content-start" style="display :inline-block" ><!--name -->
															<label style="white-space: initial; word-wrap: break-word; font-size: 15px;">
																<a href="/products/<%=prd.product.type%>/<%= prd.product._id %>"><i><%= prd.product.name %></i></a></label>
														</div>
														<div class="col-2 px-1 d-flex justify-content-center "><!--remove -->
															<p>
																<button id="rmvq_<%=id%>,<%=item.size%>,<%=item.color%>" class="btn-danger btn-dangerous Xbutton d-flex justify-content-center align-items-center" onclick="quickRemoveProduct(event)">
																	<i class="fa fa-trash-alt"></i>
																</button>
															</p>
														</div>
													</div>
													<hr class="thin" style="margin-top: -3px;">
													<div class="row">
													<div class="col-4"><!--price -->
														<%= prd.product.price %>€
													</div>
													<div id="quick_qty<%=id%>,<%=item.size%>,<%=item.color%>" class="col-4 align-center"><!--qty -->
														x<%=item.quantity%>
													</div>
													<div id="quick_product_total<%=id%>,<%=item.size%>,<%=item.color%>" class="col-4  align-right"><!--total price -->
														<%= item.price %>€
													</div>
													</div>
													<div class="mt-4 pr-2 row justify-content-end">
													<i><div class="ml-2"style="background-color:<%=item.color%>; width: 1.5em; height: 1.5em;"> </div></i>
													<i><span class="ml-2"><%=sizes[item.size]%></span></i>
													</div>
												</div>
											</div>
										<%});%>
									<%});%>
									</div>
									<div class="quick-cart-fonts">
									<div class="row my-2 mx-1">
										<div class="col-6">
											<b><i>Σύνολο:</i></b>
										</div>
										<div id="quick_total" class="col-6 align-right">
											<%=session.cart.totalPrice%>€
										</div>
									</div>
									<a class="align-center btn btn-primary btn-lg btn-block" href="/cart">
										Μεταβαση στο καλαθι
									</a>
								</div>
								<%}else{ %>
								<div class="align-center total-quantity-info px-1">
									<p class="desc">Δεν υπάρχουν προϊόντα στο καλάθι σας!</p>
								</div>
								<%}%>
							</div>
						</span>
					</li>
				</ul>
			</div>
		</div>
	</nav>


	<nav id="logo-nav" class="navbar navbar-expand-md navbar-light bg-light pt-0 pb-1 mt-n2">
		<div class="container-fluid center-content">
			<div class="row">
				<div id="smth" class="my-auto mx-auto px-auto">
					<% if(!currentUser){ %>
	      				<a id="logo-bck" class="mt-n2 mx-auto my-auto d-flex justify-content-center" href="/">
							<img src="<%=root%>/images/logo.png" >
						</a>
					<%} else if (currentUser[currentUser.methods].priviledge=="Admin"){%>	
						<a id="logo-bck" class="mt-n2 pt-2 mx-auto my-auto d-flex justify-content-center" href="/">
							<img src="<%=root%>/images/logo.png" >
						</a>	
	      			<% } else { %>
						<a id="logo-bck" class="mt-n2-icon mx-auto my-auto d-flex justify-content-center" href="/">
							<img src="<%=root%>/images/logo.png">
						</a>
	      			<%}%>
				</div>
			</div>
		</div>
	</nav>

	<nav id="menu-nav" class="navbar navbar-fixed-top navbar-expand-md navbar-dark bg-dark pt-0 pb-1" style="z-index: 2!important; opacity:1;">
		<div id="header-container" class="container">
			<div class="row">
				<div class="col-xs-12 collapse navbar-collapse " id="navbarSupportedContent">
					<ul class="navbar-nav mb-n2 mx-auto my-auto ">
						<li class="nav-item">
				      		<a class="nav-link" href="/products/isothermika?page=0"><span class="nav-span">Ισοθερμικά</span></a>
				      	</li>
				       	<li class="nav-item">
				     		<a class="nav-link .nav-link-ltr" href="/products/parallages?page=0"><span class="nav-span">Παραλλαγές/Φούτερ</span></a>
						  </li>
						  
					    <li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span class="nav-span">Tie Dye</span></a>
							<div class="dropdown-menu">	
								<a class="dropdown-item" style="opacity: 1!important;" href="/products/tiedye?page=0">Μπλούζες</a>
								<a class="dropdown-item" style="opacity: 1!important;" href="#">Κολάν</a>
							</div>
				      	</li>
				      	<li class="nav-item ">
					     	<a class="nav-link" href="/products/extra?page=0"><span class="nav-span">Έξτρα</span></a>
					    </li>
					    <!-- <li class="nav-item ">
					    	<a class="nav-link" href="/custom"><span class="nav-span">Στάμπες</span></a>
					    </li> -->
					    <li class="nav-item ">
					    	<a class="nav-link" href="/contact"><span class="nav-span">Επικοινωνία</span></a>
					    </li>
					</ul>
				</div>
				<div id="toggle-container" class="col-xs-0 mx-auto my-auto d-flex justify-content-center">
					<button class="navbar-toggler mt-1" style="width:100px;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" onclick="ScrollToTop(this);">
						<span class="navbar-toggler-icon"></span>
					</button>
				</div>
			</div>
		</div>
	</nav>
<div id="page-container" class="loading-container">
		<div id="content-wrap">
