<%- include("./../partials/header")%>

<div id="main" class="container main mb-5">
	<div class="container-fluid my-4">
		<% if(!currentUser){ %>
			<div class="desc">
				Η περίοδος σύνδεσης σας έχει λήξει
				<script type="text/javascript" src="/scripts/relocate.js"></script>
			</div>
		<% }else {%>
		    <div class="row  d-flex justify-content-around ">
				<div class="col-md-3 side-menu desc">
					<h5 class="my-0">
						<a href="/user/<%= currentUser._id %>" class="btn btn-primary side-btn">πληροφοριες</a>
					</h5>
					<h5 class="my-0">
						<a href="/user/<%= currentUser._id %>/orders" class="btn btn-primary side-btn">παραγγελιες</a>
					</h5>
				</div>
				<div class="col-md-9">
					<% orders.forEach(function(order){ %>
						<div class="container-sm jumbotron-mini my-4">
						<div class="container-sm">
							<div class="row mb-2 d-flex justify-content-center">	
								<span style="font-size: 14px;"><b>Ημερομηνία: </b><%=order.date %></span>
							</div>	
							<div class="row mb-2 justify-content-center desc">
								<h5><b>ID παραγγελίας: </b></h5><span class="ml-2" style="font-size: 16px;"> <%=order._id %></span>
							</div>
							<div class="row mb-2 d-flex justify-content-center">
							<span style="font-size: 14px;" ><b>Μέθοδος: </b><%=order.method %></span>
							</div>	
						</div>	
						<hr style="border: 0.2px solid rgba(0, 0, 0, 0.1); margin-top: -2px; ">
						<div class="row d-flex justify-content-around">
							
							<div class="col-12 col-sm-12 col-md-12 col-lg-6">
								<p><b>Όνομα: </b><%= order.details.name %></p>
								<p><b>Επίθετο: </b><%= order.details.surname %></p>	
								<p><b>E-mail: </b><%= order.details.email %></p>
								<p><b>Τηλέφωνο : </b><%= order.details.phone %></p>
							</div>
							<div class="col-12 col-sm-12 col-md-12 col-lg-6">
								<p><b>Διεύθυνση: </b><%= order.details.address.line1%></p>
								<p><b>Πόλη: </b><%= order.details.address.city%></p>	
								<p><b>Ταχ. Κώδικας: </b><%= order.details.address.zip%></p>
								<p><b>Νομός: </b><%= order.details.address.state%></p>
							</div>
						</div>
						<hr style="border: 0.2px solid rgba(0, 0, 0, 0.1);margin-top: -2px;">
						<div class="row mb-2 d-flex justify-content-start">
							<%order.productList.forEach(function(productlist){%>
								<div class="col-12 col-sm-12 col-md-6 col-lg-6  mb-2 d-flex justify-content-center">
									<div class="mr-2" style="border-left: 1px solid grey; height: 110px;"></div>	
									<img class="mr-2" style="width:5em; height:7em;" src="<%=productlist.product.images[0].url %>" >
									<div >
										<p><b>Προϊόν: </b><%= productlist.product.name%></p>
										<p><b>Μέγεθος: </b><%=productlist.size%></p>
										<p style="display: inline-block;"><b>Χρώμα: </b><div class="align-middle ml-2" style="background-color:<%=productlist.color%>;width:1.5em;height:1.5em; display: inline-block;"></div> </p>
										<p><b>Ποσότητα: </b><%=productlist.quantity%></p>
									</div>
								</div>					
							<%}) %>				
						</div>
						<hr style="border: 0.2px solid rgba(0, 0, 0, 0.1);margin-top: -2px;">
						<div class="row mb-1 d-flex justify-content-center">
							<h4><B>Σύνολο: </B> <%=order.totalPrice%> €</h4>
						</div>
						</div>
						<hr>	
					<%});%>
				</div>
			</div>
		<%}%>	
	</div>
</div> 
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>   	
<script type="text/javascript" src="/scripts/user.js"></script>
<%- include("./../partials/footer")%>