<%- include("../partials/header")%>
<% const sizes = {
  S : "Small",
  M : "Medium",
  L : "Large",
  XL : "Extra Large",
  XXL : "2 Extra Large"
} %>

<div id="main" class="main container mb-5">
  <div class="container py-2 my-4">
  <%if(session.productList && session.productList.length > 0){ %>
    <h3 class="pb-4"><i><u>Το καλάθι σου</u></i></h3>
    <% session.productList.forEach(function(prd){ %>
    <% var id = prd.product._id%>
      <% prd.variants.forEach(function(item){%>
      <div class="row d-flex justify-content-start mt-2 mb-4 mx-2">
        <div class="col-md-12 col-12 jumbotron-mini align-left">
          <div class="container">
            <button id="rmvc_<%=id%>,<%=item.size%>,<%=item.color%>" class="removeProduct btn-danger btn-dangerous Xbutton" style="z-index: 0;">
              <i class="fa fa-trash-alt"></i>
            </button>
            <div class="row d-flex justify-content-start">
              <div class="col-11 align-left">
                <a href="/products/<%=prd.product.type%>/<%= prd.product.code %>">
                  <b style="font-size: 20px; font-weight:600; "><%=prd.product.name%></b>
                </a>  
              </div>
            </div>
            <div class="row d-flex justify-content-center mt-3">
              <div class="col-sm-2 col-12" align="center" >
                <div>
                  <%var seenOne = false %>
                  <% prd.product.images.forEach(image => { %>
                    <% if (image.colorTag == item.color && seenOne == false) { %>
                      <a href="/products/<%=prd.product.type%>/<%= prd.product.code %>">
                        <img class="quick-cart-img int-img" src="<%=image.url%>"></img>
                      </a>
                      <% seenOne = true %>
                    <% } %>
                  <%});%>
                </div>
              </div>
              <div class="col-12 col-sm-10">
                <hr class="thin">
                <div class="row d-flex justify-content-center">
                  <div class="col-3 col-sm-3" align="center">
                    <div> <b>Τιμή:</b> </div>
                    <div class="mt-2"> <%=prd.product.price%> €</div>
                  </div>    
                  <div class="col-9 col-sm-6 pb-2" align="center">  
                    <div>
                      <B>Ποσότητα:</B>
                    </div>
                    <div class="def-number-input number-input safari_only bg-white">
                      <button type="button" class="stepDownCart minus"></button>
                      <input id="<%=id%>,<%=item.size%>,<%=item.color%>" class="quantity" name="quantity" type="number" value="<%=item.quantity%>" min="1">
                      <button type="button" class="stepUpCart plus"></button>
                    </div>  
                  </div>
                  <div class="col-12 col-sm-3" align="center">
                    <hr class="thin nothidden">
                    <div>
                      <B>Σύνολο:</B>
                    </div>  
                    <div class="mt-2">
                      <span id="itm-prc<%=id%>,<%=item.size%>,<%=item.color%>"><%=item.price%> </span> <span> €</span> 
                    </div>
                  </div>
                </div>
              </div>
              <div class="row d-flex justify-content-end">
                <div class="col-10 align-right">
                    <div class="mr-2 align-middle" style="background-color:<%=item.color%>;width:2em;height:2em; display: inline-block;"></div>
                    <i><span class="mr-3 align-middle"><%=sizes[item.size]%></span></i> 
                </div>
              </div>            
            </div> 
          </div>
        </div>
      </div>
      <%});%>
    <%});%>
    <div class="container-fluid py-3">
      <div class="row d-flex justify-content-end">
      <div class="col-sm-6 col-12 align-right">
        <div class="row d-flex justify-content-end mr-2">
          <label class="mr-5">
            <B>Τελική Τιμή:</B>
          </label>
          <span class="totals-value" id="cart-total">
            <%=session.cart.totalPrice%>
          </span>        
        </div>
        <hr class="thin">
        <div class="row d-flex justify-content-end mr-2">
           <a href="/checkout" class="btn btn-primary">πληρωμη</a>
        </div>
      </div>
    </div>
    </div>  
  
    
    
  <%}else{ %>
  <div class="desc">
    Το καλάθι σας είναι άδειο
  </div> 
  <%}%>
  </div>
</div>


<%- include("../partials/footer")%>
