<%- include("./../partials/header")%>

<% const sizes = {
  S : "Small",
  M : "Medium",
  L : "Large",
  XL : "Extra Large",
  XXL : "2 Extra Large"
} %>
<span  id="discount" hidden><%=discount%></span>
<label id="root" class="hidden"><%=root%></label>
<!-- The Modal -->
<div id="myModal" class="modal-chk">
  <!-- Modal content -->
  <div class="modal-content-chk chkout2" style="border-radius: 5px;">
  	<div class="container">
  		<div class="row d-flex justify-content-center">
  			<div class="circle-loader">
	     		<div class="checkmark draw"></div>
			     <div class="status draw"></div>
		  	</div>
  		</div>

	  	<div class="row">
	  		<div class="col-12 d-flex justify-content-center">
	  			<div class="desc result hidden">
	  				<h3 style="display: inline-block;">Η πληρωμή ολοκληρώθηκε</h2>
					<h5 style="display: inline-block;">Η παραγγελία σας κατοχυρώθηκε επιτυχώς. Θα λάβετε σχετικό <b>e-mail</b> κατά τη λήψη της και την ολοκλήρωσή της</h5>
					<h3 class="mt-5"  style="display: inline-block;">Σας ευχαριστούμε</h3><br>
					<button style="float: right" class="btn btn-primary mt-2"onclick="relocate()">Ενταξει</button>	
	  			</div>
				<div class="desc result2 hidden">
					<h5 style="display: inline-block;">Η παραγγελία σας κατοχυρώθηκε επιτυχώς. Θα λάβετε σχετικό <b>e-mail</b> κατά τη λήψη της και την ολοκλήρωσή της</h5>
					<h3 class="mt-5"  style="display: inline-block;">Σας ευχαριστούμε</h3><br>
					<button style="float: right"class="btn btn-primary mt-2"onclick="relocate()">Ενταξει</button>	
	  			</div>
	  			<div class="desc result3 hidden">
	  				<h3 class="mb-3" style="display: inline-block;">Κάτι πήγε στραβά</h3>
					<h5  id="errormsg"  style="display: inline-block;"></h5><br>
					<button style="float: right"class="btn btn-primary mt-5"onclick="relocate2()">Ενταξει</button>	
	  			</div>
			</div>
		</div>	
	</div>
  </div>
</div>

<div id="DeletedProductModal" class="modal-chk">
  <!-- Modal content -->
  <div class="modal-content-chk chkout2" style="border-radius: 5px;">
  	<div class="container">
	  	<div class="row d-flex justify-content-center ">
	  		<div class="col-12 d-flex justify-content-center">
	  			<div class="desc result">
					<h3 class="mt-5 mb-5"  style="display: inline-block;">Κάποια προϊόντα εχουν διαγραφεί απο το διαχειριστή</h3><br>
	  			</div>
			</div>
		</div>	
	</div>
  </div>
</div>

<div id="CartDoesNotMatchModal" class="modal-chk">
  <!-- Modal content -->
  <div class="modal-content-chk chkout2" style="border-radius: 5px;">
  	<div class="container">
	  	<div class="row d-flex justify-content-center ">
	  		<div class="col-12 d-flex justify-content-center">
	  			<div class="desc result">
					<h3 class="mt-5 mb-5"  style="display: inline-block;">Τα προϊόντα του καλαθιού είναι τροποποιημένα. Θα μεταφερθείτε στην αρχική σελίδα για λόγους ασφαλείας.</h3><br>
	  			</div>
			</div>
		</div>	
	</div>
  </div>
</div>

<div id="StripeModal" class="modal-chk">
  <!-- Modal content -->
  <div class="modal-content-chk chkout" style="border-radius: 5px;">
  	<div class="container">
  		<div class="loading hidden">
  			<div class="row d-flex justify-content-center">
  				<div class="circle-loader">
	  				<div class="checkmark draw"></div>
				</div>
  			</div>
  		</div>
  		<div class="content-chk">
	  		<div class="row d-flex justify-content-end" style="margin-top: -10px; margin-right: -22px;">
				<a onclick="quitModal()" class="cancelbtn">
					<i class="fas fa-times fa-lg"></i>
				</a>
	  		</div>
	  		<div class="row d-flex justify-content-center pb-3 desc">
	  			<h3>Παρακαλώ εισάγετε τα στοιχεία της κάρτας</h3>
	  		</div>
		  	<div class="row d-flex justify-content-center ">
		  		<form id="payment-form2" class="chkout chkout-pay">	
		  			<div class="chk-group card-element">
						<label>
							<div id="card-element" class="chk-field"></div>
						</label>
					</div>
					<div class="sr-field-error desc" style="color:red;"></div>	
					<div class="payment ">
						<button type="submit" id="finalPay" class="btn btn-primary">
		            		<span id="button-text-pay">Πληρωμη</span>
		          		</button>
		          	</div>
		        </form>		
			</div>
		</div>		
	</div>
  </div>
</div>



<div id="main" class="container main mb-5">
    <div class="row pt-3 pb-3 mx-auto my-4" >
    <%if(session.productList && session.productList.length > 0){ %>
    	<div class="col-lg-6 order-lg-2 mx-auto pb-5" align="center">
		    <div class="shopping-cart container-fluid">
			    <% session.productList.forEach(function(prd){ %>
			    	<%prd.variants.forEach(function(item){ %>
				      	<div class="jumbotron-mini product-micro mb-1">
				      		<div class="row d-flex justify-content-around">
					        	<div class="col-3" align="left">
									<% prd.product.images.forEach(image => { %>
										<% if (image.colorTag == item.color) { %>
											<a href="/products/<%=prd.product.type%>/<%= prd.product.code %>">
												<img class="quick-cart-img" src="<%=image.url%>"></img>
											</a>
										<% } %>
									<%});%>
					        	</div>

				          		<div class="col-9">
				          			<div class="row d-flex justify-content-start">
				          				<div class="col-12" align="left">
											<a href="/products/<%=prd.product.type%>/<%= prd.product.code %>">	  
					            				<b><%=prd.product.name%></b>
											</a>	
				            			</div>
				            		</div>
				            		<hr class="thin" align="right">
				            		<div class="row d-flex justify-content-start mt-2">
					          			<div class="col-6" align="left">
							          		<b>Τελ.τιμή: </b><%=item.price%> €
							        	</div>
							        	<div class="col-6" align="left">
							          		<b>Ποσότητα: </b><%=item.quantity%>
							        	</div>
					          		</div>
					          		<div class="row d-flex justify-content-end mt-3">
							            <div class="col-10 align-right">
							                <div class="mr-2 align-middle" style="background-color:<%=item.color%>;width:1.5em;height:1.5em; display: inline-block;"></div>
							                <span class="mr-3 align-middle"><%=sizes[item.size]%></span> 
							            </div>
							        </div>
				          		</div>
			          		</div>		          				          				        		
				      	</div>
				    <%})%>
		     	<%});%> 

		     	<div class="jumbotron-mini prices-content mt-5" align="right">
					<div class="row d-flex justify-content-end">
						<div class="col-7" align="right">
							<B>Σύνολο Προϊόντων :</B>
						</div>
						<div class="col-5" align="right">
							<span class="mx-4"><%=session.cart.totalPrice.toFixed(1)%> €</span>
						</div>
					</div>
					<div id="antikatavoli" class="row d-flex justify-content-end" hidden>
						<div class="col-7" align="right">
							<B>Έξοδα αντικαταβολής :</B>
						</div>
						<div class="col-5" align="right">
							<% antikatavoli = 1.8;  %>
							<span class="mx-4">+ <%= antikatavoli %> €</span>
						</div>
					</div>
					<% if(discount == false) { %>
					<div id="exodaApostol" class="row d-flex justify-content-end" hidden>
						<div class="col-7" align="right">
							<B>Έξοδα Αποστολής :</B>
						</div>
						<div class="col-5" align="right">
							<% shipping = 2.5;  %>
							<span class="mx-4">+ <%= shipping %> €</span>
						</div>
					</div>
					<%}else{%>
						<div id="exodaApostol" class="row d-flex justify-content-end" hidden>
							<div class="col-7" align="right">
								<B>Έξοδα Αποστολής :</B>
							</div>
							<div class="col-5" align="right">
								<% shipping = 2.5;  %>
								<span class="mx-4">-  <s><%= shipping %> €</s></span>
							</div>
						</div>
					<% } %>
					<hr class="thin" align="right" style="width:40%;">
					<div class="row d-flex justify-content-end">
						<div class="col-7" align="right">
							<B>Τελικό Σύνολο :</B>	
						</div>
						<div class="col-5" align="right">
							<span id="totalPrice" class="mx-4"></span>
						</div>
					</div>
				</div>
				<hr class="thin">
		     	<div class="container">
			     	<div class="form-check" align="left">
						<label class="form-check-label">
							<input id="pay" type="radio" form="payment-form" class="form-check-input" name="optradio" onclick="buttonSelect(1)" <% if(validated != null && validated.method == 1) {%> checked <%}else if(Object.keys(validated).length === 0) {%> checked <% }%>>Πληρωμή με κάρτα
						</label>
					</div>
					<div class="form-check"  align="left">
						<label class="form-check-label">
							<input id="send" type="radio" form="payment-form" class="form-check-input" onclick="buttonSelect(2)" name="optradio"<% if(validated != null && validated.method == 2) {%> checked <%}%>> Πληρωμή με αντικαταβολή
						</label>
					</div>
					<div class="form-check"  align="left">
						<label class="form-check-label">
							<input id="sent" type="radio" form="payment-form" class="form-check-input" onclick="buttonSelect(3)" name="optradio" <% if(validated != null && validated.method == 3) {%> checked <%}%>>Παραλαβή απο το κατάστημα
						</label>
					</div>
				</div>
				<div class="container mt-5 d-flex justify-content-center">
					<img src="./../../images/Stripe-Logo.png" class="w-50 h-50" alt="">
					<img src="./../../images/elta-logo.jpg" class="mt-4 ml-4" alt="">
				</div>
			</div>	
        </div>	
    	<div class="col-lg-6 order-lg-1 mx-auto d-flex justify-content-center pb-3">
			<form id="payment-form" class="chkout">
				<h4 class="mx-auto" align="center">Φόρμα πληρωμής</h4>
				<hr class="thin mb-3"> 
				<%if(user) {%>
				<div class="chk-group">
					<label>
						<span>Όνομα</span>
						<input id="name" name="name" placeholder="Όνομα" class="chk-field" value="<%= user[method].name%>"required/>
					</label>
					<label>
						<span>Επίθετο</span>
						<input id="surname" name="surname" placeholder="Επίθετο" class="chk-field" value="<%= user[method].surname%>"required/>
					</label>
				</div>
				<% }else{ %>
				<div class="chk-group">
					<label>
						<span>Όνομα</span>
						<input id="name" name="name" class="chk-field" placeholder="Όνομα"  value="<%= validated.name %>"required/>
					</label>
					<label>
						<span>Επίθετο</span>
						<input id="surname" name="surname" class="chk-field" placeholder="Επίθετο"  value="<%= validated.surname %>" required/>
					</label>
				</div>
				<% } %>	

				<div class="chk-group">			
					<%if(user) {%>
					<label>
						<span>E-mail</span>
						<input id="email" name="email" class="chk-field"  placeholder="example@gmail.com" value="<%= user[method].email %>" />
					</label>
					<% }else{ %>
					<label>
						<span>E-mail</span>
						<input id="email" name="email" type="email" class="chk-field" placeholder="example@gmail.com"  value="<%= validated.email %>" required/>
					</label>
					<% } %>
					<label>
						<span>Τηλ.επικοινωνίας</span>
						<input id="phone" name="phone" class="chk-field" placeholder="+30 xxxxxxxxxx"  value="<%= validated.phone %>"required/>
					</label>
				</div>
				<div class="chk-group address">
					<label>
						<span>Διέυθυνση</span>
						<input id="line1" name="line1" class="chk-field" placeholder="Ολυμπιάδος 39" value="<%= validated.line1 %>"  />
					</label>
					<label>
						<span>Πόλη</span>
						<input id="city" name="city" class="chk-field" placeholder="Θεσσαλονίκη" value="<%= validated.city %>" />
					</label>
					<label>
						<span>Ταχ. Κώδικας</span>
						<input id="postal_code" name="zip" class="chk-field" placeholder="546 33" value="<%= validated.zip %>" />
					</label>
					<label>
						<span>Νομός</span>
						<input id="state" name="state" class="chk-field" placeholder="Μακεδονία" value="<%= validated.state %>" />
					</label>
				</div>
				
				<% if(regError&& regError.length > 0){ %>
				<div id="error" class="wrninput d-flex justify-content-center align-items-center" role="alert">
					<span><%= regError %> </span>
				</div>
				<%}%>	
				<div class="payment">
					<button id="submit" class="btn btn-primary">
	            		<span id="button-text-pay" class="">Υποβολη</span>
	            		<span id="method" class="hidden" value="1"></span>
	          		</button>
	          	</div>	
			</form>
        </div>
        
        <%}else{ %>
	        <div class="row d-flex justify-content-center">
	    		Το καλάθι σας είναι άδειο
	  		</div>
  		<%}%>
	</div>
</div>

<script nonce="<%=nonce %>" src="https://js.stripe.com/v3/"></script>
<script nonce="<%=nonce%>" type="text/javascript" src="/scripts/checkout.js"></script>
<%- include("./../partials/footer")%>