<%- include("./../partials/header")%>

<% const sizes = {
  S : "Small",
  M : "Medium",
  L : "Large",
  XL : "Extra Large",
  XXL : "2 Extra Large"
} %>

<!-- The Modal -->
<div id="myModal" class="modal-chk">
  <!-- Modal content -->
  <div class="modal-content-chk chkout2" style="border-radius: 5px;">
  	<div class="container">
  		<div class="row d-flex justify-content-center">
  			<div class="circle-loader">
	     		<div class="checkmark draw"></div>
			     <div class="status draw"></div>
		  	</div>
  		</div>

	  	<div class="row">
	  		<div class="col-12 d-flex justify-content-center">
	  			<div class="desc result hidden">
	  				<h3 style="display: inline-block;">Η πληρωμή ολοκληρώθηκε</h2>
					<h5 style="display: inline-block;">Η παραγγελία σας κατοχυρώθηκε επιτυχώς. Θα λάβετε σχετικό <b>e-mail</b> κατά τη λήψη της και την ολοκλήρωσή της</h5>
					<h3 class="mt-5"  style="display: inline-block;">Σας ευχαριστούμε</h3><br>
					<button style="float: right" class="btn btn-primary mt-2"onclick="relocate()">Ενταξει</button>	
	  			</div>
				<div class="desc result2 hidden">
					<h5 style="display: inline-block;">Η παραγγελία σας κατοχυρώθηκε επιτυχώς. Θα λάβετε σχετικό <b>e-mail</b> κατά τη λήψη της και την ολοκλήρωσή της</h5>
					<h3 class="mt-5"  style="display: inline-block;">Σας ευχαριστούμε</h3><br>
					<button style="float: right"class="btn btn-primary mt-2"onclick="relocate()">Ενταξει</button>	
	  			</div>
	  			<div class="desc result3 hidden">
	  				<h3  style="display: inline-block;">Κάτι πήγε στραβά</h3>
					<h5  style="display: inline-block;">Παρακαλώ προσπαθήστε αργότερα</h5><br>
					<button style="float: right"class="btn btn-primary mt-2"onclick="relocate2()">Ενταξει</button>	
	  			</div>
			</div>
		</div>	
	</div>
  </div>
</div>

<div id="DeletedProductModal" class="modal-chk">
  <!-- Modal content -->
  <div class="modal-content-chk chkout2" style="border-radius: 5px;">
  	<div class="container">
	  	<div class="row d-flex justify-content-center ">
	  		<div class="col-12 d-flex justify-content-center">
	  			<div class="desc result">
					<h3 class="mt-5 mb-5"  style="display: inline-block;">Κάποια προϊόντα εχουν διαγραφεί απο το διαχειριστή</h3><br>
	  			</div>
			</div>
		</div>	
	</div>
  </div>
</div>

<div id="CartDoesNotMatchModal" class="modal-chk">
  <!-- Modal content -->
  <div class="modal-content-chk chkout2" style="border-radius: 5px;">
  	<div class="container">
	  	<div class="row d-flex justify-content-center ">
	  		<div class="col-12 d-flex justify-content-center">
	  			<div class="desc result">
					<h3 class="mt-5 mb-5"  style="display: inline-block;">Τα προϊόντα του καλαθιού είναι τροποποιημένα. Θα μεταφερθείτε στην αρχική σελίδα για λόγους ασφαλείας.</h3><br>
	  			</div>
			</div>
		</div>	
	</div>
  </div>
</div>

<div id="StripeModal" class="modal-chk">
  <!-- Modal content -->
  <div class="modal-content-chk chkout" style="border-radius: 5px;">
  	<div class="container">
  		<div class="loading hidden">
  			<div class="row d-flex justify-content-center">
  				<div class="circle-loader">
	  				<div class="checkmark draw"></div>
				</div>
  			</div>
  		</div>
  		<div class="content-chk">
	  		<div class="row d-flex justify-content-end" style="margin-top: -10px; margin-right: -22px;">
				<a onclick="document.getElementById('StripeModal').style.display='none'" class="cancelbtn">
					<i class="fas fa-times fa-lg"></i>
				</a>
	  		</div>
	  		<div class="row d-flex justify-content-center pb-3 desc">
	  			<h3>Παρακαλώ εισάγετε τα στοιχεία της κάρτας</h3>
	  		</div>
		  	<div class="row d-flex justify-content-center ">
		  		<form id="payment-form2" class="chkout chkout-pay">	
		  			<div class="chk-group card-element">
						<label>
							<div id="card-element" class="chk-field"></div>
						</label>
					</div>
					<div class="payment ">
						<button type="submit" id="finalPay" class="btn btn-primary">
		            		<span id="button-text-pay">Πληρωμη</span>
		          		</button>
		          	</div>
		        </form>  					
			</div>
		</div>		
	</div>
  </div>
</div>



<div id="main" class="container main mb-5">
    <div class="row pt-3 pb-3 mx-auto my-4" >
    <%if(session.productList && session.productList.length > 0){ %>
    	<div class="col-lg-6 order-lg-2 mx-auto pb-5" align="center">
		    <div class="shopping-cart container-fluid">
			    <% session.productList.forEach(function(item){ %>
			      	<div class="jumbotron-mini product-micro mb-1">
			      		<div class="row d-flex justify-content-around">
				        	<div class="col-3 product-image" align="left">
				          		<img  src="<%=item.product.images[0].url %>"></img>
				        	</div>

			          		<div class="col-9">
			          			<div class="row d-flex justify-content-start">
			          				<div class="col-12" align="left">
				            			<b><%=item.product.name%></b>
				            			<i><span class="ml-5"> <%=sizes[item.product.size]%> </span></i>
			            			</div>
			            		</div>
			            		<hr class="thin" align="right">
			            		<div class="row d-flex justify-content-start mt-2">
				          			<div class="col-6" align="left">
						          		<b>Τελ.τιμή: </b><%=item.price%> €
						        	</div>
						        	<div class="col-6" align="left">
						          		<b>Ποσότητα: </b><%=item.quantity%>
						        	</div>
				          		</div>
				          		<!-- <div class="row d-flex justify-content-center mt-2">
				          			<div class="col-6">
						          		Τελ.τιμή: <%=item.price%> €
						        	</div>	
				          		</div> -->
			          		</div>
		          		</div>		          				          				        		
			      	</div>
		     	<%});%> 
		     	<hr class="thin">
		     	<div class="jumbotron-mini prices-content" align="right">
					<div class="row d-flex justify-content-end">
						<div class="col-7" align="right">								
								<B>Φόρος :</B> 	
						</div>
						<div class="col-5"  align="right">
							<%tax = (session.cart.totalPrice * 1.4 / 100)+ 0.25 %>
							<span class="mx-4"> <%=tax.toFixed(2)%> €</span>
						</div>
					</div>
					<div class="row d-flex justify-content-end">
						<div class="col-7" align="right">
							<B>Έξοδα Αποστολής :</B>
						</div>
						<div class="col-5" align="right">
							<% shipping = 2;  %>
							<span class="mx-4"> <%= shipping.toFixed(2) %> €</span>
						</div>
					</div>
					<hr class="thin" align="right" style="width:40%;">
					<div class="row d-flex justify-content-end">
						<div class="col-7" align="right">
							<B>Τελικό Σύνολο :</B>	
						</div>
						<div class="col-5" align="right">
							<%tax = (session.cart.totalPrice * 1.4 / 100)+ 0.25 %>
							<span class="mx-4"> <%=session.cart.totalPrice + tax + shipping%> €</span>
						</div>
					</div>
				</div>
				<hr class="thin">
		     	<div class="container">
			     	<div class="form-check" align="left">
						<label class="form-check-label">
							<input id="pay" type="radio" class="form-check-input" name="optradio" onclick="buttonSelect(1)" checked>Πληρωμή με κάρτα
						</label>
					</div>
					<div class="form-check"  align="left">
						<label class="form-check-label">
							<input id="send" type="radio" class="form-check-input" onclick="buttonSelect(2)" name="optradio">Πληρωμή με αντικαταβολή
						</label>
					</div>
					<div class="form-check"  align="left">
						<label class="form-check-label">
							<input id="sent" type="radio" class="form-check-input" onclick="buttonSelect(3)" name="optradio" >Παραλαβή απο το κατάστημα
						</label>
					</div>
				</div>
			</div>	
        </div>	
    	<div class="col-lg-6 order-lg-1 mx-auto d-flex justify-content-center pb-3">
			<form id="payment-form" class="chkout">
				<%if(user) {%>
				<div class="chk-group">
					<label>
						<span>Όνομα</span>
						<input id="name" name="name" placeholder="Όνομα" class="chk-field" value="<%= user[method].name%>"required/>
					</label>
					<label>
						<span>Επίθετο</span>
						<input id="surname" name="surname" placeholder="Επίθετο" class="chk-field" value="<%= user[method].surname%>"required/>
					</label>
				</div>
				<% }else{ %>
				<div class="chk-group">
					<label>
						<span>Όνομα</span>
						<input id="name" name="name" class="chk-field" placeholder="Όνομα"  value="<%= validated.name %>"required/>
					</label>
					<label>
						<span>Επίθετο</span>
						<input id="surname" name="surname" class="chk-field" placeholder="Επίθετο"  value="<%= validated.surname %>" required/>
					</label>
				</div>
				<% } %>	

				<div class="chk-group">			
					<%if(user) {%>
					<label>
						<span>E-mail</span>
						<input id="email" name="email" class="chk-field"  placeholder="example@gmail.com" value="<%= user[method].email %>" />
					</label>
					<% }else{ %>
					<label>
						<span>E-mail</span>
						<input id="email" name="email" type="email" class="chk-field" placeholder="example@gmail.com"  value="<%= validated.email %>" required/>
					</label>
					<% } %>
					<label>
						<span>Τηλ.επικοινωνίας</span>
						<input id="phone" name="phone" class="chk-field" placeholder="+30 xxxxxxxxxx"  value="<%= validated.phone %>"required/>
					</label>
				</div>
				<div class="chk-group address">
					<label>
						<span>Διέυθυνση</span>
						<input id="line1" name="line1" class="chk-field" placeholder="Ολυμπιάδος 39" value="<%= validated.line1 %>"  />
					</label>
					<label>
						<span>Πόλη</span>
						<input id="city" name="city" class="chk-field" placeholder="Θεσσαλονίκη" value="<%= validated.city %>" />
					</label>
					<label>
						<span>Ταχ. Κώδικας</span>
						<input id="postal_code" name="zip" class="chk-field" placeholder="546 33" value="<%= validated.zip %>" />
					</label>
					<label>
						<span>Νομός</span>
						<input id="state" name="state" class="chk-field" placeholder="Μακεδονία" value="<%= validated.state %>" />
					</label>
				</div>
				
				<% if(regError&& regError.length > 0){ %>
				<div id="error" class="wrninput d-flex justify-content-center align-items-center" role="alert">
					<span><%= regError %> </span>
				</div>
				<%}%>	
				<div class="payment">
					<button id="submit" class="btn btn-primary">
	            		<span id="button-text-pay" class="">Υποβολη</span>
	            		<span id="method" class="hidden" value="1"></span>
	          		</button>
	          	</div>	
			</form>
        </div>
        
        <%}else{ %>
	        <div class="row d-flex justify-content-center">
	    		Το καλάθι σας είναι άδειο
	  		</div>
  		<%}%>
	</div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript" src="/scripts/checkout.js"></script>
<%- include("./../partials/footer")%>