<%- include("./../partials/header")%>

<div id="main" class="main container mb-5">
    <div class="row d-flex justify-content-around my-4">
	    <form id="edit_form" action="/products/<%= product.type %>/<%=product._id %>/edit?_method=PUT" method="POST">
	        <div class="desc py-5">
				<h1 class="pb-5">Τροποποίηση προϊόντος</h1>
	            <div class="form-group pl-2">
	                <span class="d-flex align-items-center">
	                	<input type="text" name="name" class="form-control mr-3" value="<%=product.name%>" placeholder="Όνομα προϊόντος" required>
	                	<i class="fas fa-info-circle fa-lg ">
	                		<div class="tooltiptext">Το πεδίο αυτό αντιπροσωπεύει το όνομα το προϊόντος</div>
	                	</i>
	                </span>
	            </div>
	            <div class="form-group pl-2">
	            	<span class="d-flex align-items-center">
	                	<input type="number" name="price" class="form-control mr-3" value="<%=product.price%>" placeholder="Τιμή" required>
	                	<i class="fas fa-info-circle fa-lg ">
	                		<div class="tooltiptext">Στο πεδίο αυτό , ορίζετε την τιμή του προϊόντος σε Ευρώ €</div>
	                	</i>
	                </span>
	            </div>
	            <div class="form-group pl-2">
	                <span class="d-flex align-items-center">
	                	<textarea name="description" class="form-control mr-4" placeholder="Περιγραφή" required><%=product.description%></textarea>
	                	<i class="fas fa-info-circle fa-lg mr-2 pr-1">
	                		<div class="tooltiptext">Ορίστε την περιγραφη του προϊόντος</div>
	                	</i>
	                </span>
				</div>
				<div class="form-group pl-2">
	                <span class="d-flex align-items-center">
	                	<input name="code" class="form-control mr-4" placeholder="Κωδικός προϊόντος" value="<%=product.code%>" required>
	                	<i class="fas fa-info-circle fa-lg mr-2 pr-1">
	                		<div class="tooltiptext">Ορίστε τον Κωδικό του προϊόντος</div>
	                	</i>
	                </span>
				</div>
				<div class="form-group pl-2">
	                <span class="d-flex align-items-center">
	                	<input name="showing" type="number" class="form-control mr-4" placeholder="Τοποθέτηση προϊόντος" value="<%=product.showing%>" required>
	                	<i class="fas fa-info-circle fa-lg mr-2 pr-1">
	                		<div class="tooltiptext">Ορίστε την Θέση του προϊόντος</div>
	                	</i>
	                </span>
				</div>
				<div class="form-group pl-2">
					<label for="kind">Διάλεξε Είδος Μεγεθών</label>
	                <span class="d-flex align-items-center">
						<select name="kind" class="form-control mr-3" placeholder="Είδος" id="kind" required>
							<option value="shirt">Μπλούζα</option>
							<option value="pants">Παντελόνι</option>
							<option value="oneSize">One Size</option>
						</select>
						<i class="fas fa-info-circle fa-lg ">
							<div class="tooltiptext">Το πεδίο αυτό αντιπροσωπεύει το είδος του ρούχου</div>
						</i>			
	                </span>
				</div>
            	<!-- <div class="form-group px-2">
				    <div>
				        <label>Select multiple images:</label>
				        <input type="file" name="profile_pic" multiple required/>
				    </div>
	            </div> -->
	            <div class="form-group">
	                <button class="btn btn-primary" type="submit">Υποβολη</button>
	            </div>
	        </div>
		</form>
	</div>
</div>



<%- include("./../partials/footer")%>
