<%- include("./../partials/header")%>

<div id="main" class="main container-fluid product">
  <div class="row my-4 d-flex justify-content-start">
    <div class="mx-auto mt-2" style="align-items: center;">
      <h3>
        <b>
          <div><%= name %><hr class="normal"align="center" /></div>
      
        </b>
      </h3>
    </div>
  </div>
  <!-- <hr class="pic thick mx-5"> -->
    
  <div  class="container-fluid">
    <div class="row products-row d-flex justify-content-around align-items-start">
<% products.forEach(function(product){ %>
      <% if(product.status=="hidden" && admin=="admin"){ %>
      <div class="col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3 mb-5  d-flex justify-content-center">
        <div class="card opac mb-5" style="border-radius:0px;">
      <%}else if(product.status=="hidden" && !admin){%>
      <div>
        <div class="card hidden" style="border-radius:0px;">
      <%}else{%>
      <div class="col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3 mb-5 d-flex justify-content-center">
        <div class="card" style="border-radius:0px;">
      <%} %>
        <div class="product-img" onclick="document.getElementById('product_modal_<%= product._id %>').style.display='block'">
          <img src="<%=product.images[0].url %>" class="card-img-top" alt="" style="border-radius:0px;">
          <div class="middle">
            <div class="text">Προβολή</div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <%  var name2 = product.name.slice(0,15); %>
            <div class="col-10 d-flex justify-content-start" style="white-space: pre;">
              <% if(product.name.length > 18){%>
                <p><%=name2 %>...</p>
              <%}else{%>
                <p><%= product.name %></p>
              <% } %>  
            </div>
            <div class="col-2 d-flex justify-content-end">
              <p><%=product.price %>€</p>
            </div>
            <div class="col-12 d-flex justify-content-center">
              <a class="btn btn-dark btn-lg" style="border-radius:0px;" href="/products/<%=product.type %>/<%=product.name%>">
                Λεπτομερειες
              </a>
            </div>
          </div>       
        </div>
      </div>
      <div>
      <% if(currentUser!= null && currentUser[currentUser.methods].priviledge=="Admin"){ %>
        <button class=" btn-danger " style="height:3em; width:3em; text-align: center; " onclick="deleteProduct('<%=product.name%>','<%=product.type%>')">
          <i class="fas fa-times fa-lg"></i>
        </button>
        <% if(product.status=="hidden"){ %>
        <button class=" btn-secondary " style="height:3em;width:3em; text-align: center; " onclick="hideProduct('<%=product.name%>','<%=product.type%>')">
          <i class="fas fa-eye"></i>
        </button>
        <%}else{%>
          <button class=" btn-secondary" style="height:3em;width:3em; text-align: center; " onclick="hideProduct('<%=product.name%>','<%=product.type%>')">
          <i class="fas fa-eye-slash"></i>
          </button>
        <%}%>
      <%}%>
       </div>
    </div>
<% }) %>



    <% if(currentUser!= null && currentUser[currentUser.methods].priviledge=="Admin") { %>
    <div class="px-0 col-12 col-sm-9 col-md-6 col-lg-4  mb-4 d-flex justify-content-center">
      <div class="card" style="height:20em; width:17em; margin-right:5em;">
        <a href="http://localhost:3000/products/<%= type %>/add">
          <img  src="http://localhost:3000/images/add.png">
        </a>
      </div>
    </div>
    <% } %>
    </div>
  </div>
  <% if(currentUser!= null && currentUser[currentUser.methods].priviledge=="Admin") { %>
    <div class="alert alert-danger mx-auto d-flex justify-content-center" role="alert">
      ΠΡΟΣΟΧΗ!!! Δε μπορείς να διαγράψεις προϊόντα που βρίσκονται σε υπάρχουσα παραγγελία.
    </div>
  <%}%>
<div class="row container-fluid d-flex justify-content-end">
  <% for (i = 0 ; i < pages ; i++) { %>
    <% if( page == i) {%>
        <a class="pbtn btn-primary mr-1" style=" color:white; background-color:#659e7a" href="http://localhost:3000/products/<%=type%>?page=<%= i %>"> <span><%= i+1%></span></a>
    <%}else{%>
        <a class="pbtn btn-primary mr-1" href="http://localhost:3000/products/<%=type%>?page=<%= i %>"> <span><%= i+1%></span></a>
    <%}%>
  <%}%>
</div>

</div>


<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script type="text/javascript" src="/scripts/products.js"></script>
<%- include("./../partials/footer")%>

<% products.forEach(function(product){ %>
<div class="modal" id="product_modal_<%= product._id %>">
    <div class="modal-content animate " >
        <button class="btn-danger btn-dangerous Xbutton" onclick="document.getElementById('product_modal_<%= product._id %>').style.display='none'" class="cancelbtn">
            <i class="fas fa-times"></i>
        </button>
        <div id="inside_modal" class="row">
          <div class="col-md-6 py-auto">
            <div id="carouselExampleControls_<%= product._id %>" class="carousel slide" data-interval="false">
              <div class="carousel-inner">
                <% Object.keys(product.images).forEach(function(key) { %>
                  <div class="carousel-item modal-carousel
                  <% if(key == 0){ %>
                      active">
                  <% } else{ %>
                      ">
                  <% } %>
                      <img class="d-block w-100" src="<%=product.images[key].url%>" alt="">
                  </div>
                <% }) %>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls_<%= product._id %>" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls_<%= product._id %>" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <div class="col-md-6 mt-md-5 pr-md-5 mb-sm-5 pb-sm-5 py-auto mx-auto modal-desc">
              <div class="row hide">
                <div class="col-12 align-center"> <!--name -->
                  <h4><%=product.name %></h4>
                </div>
              </div>
              <hr class="thin mx-5 hide">
              <div class="row mx-1 hide">
                <div class="col-12 align-center">
                  <h4><%=product.price%>€</h4>
                </div>
              </div>
              <div class="row mx-1 hide">
                <div class="col-md-12 align-center">
                  <h6><%=product.description%></h6>
                </div>
              </div>  
              <div class="px-2 mt-2 mb-2 align-center d-flex justify-content-center">
                <form action="/products/<%=product.type%>/<%=product.name%>/add" method="POST">
                  <div class="row mx-2 pb-3 d-flex align-items-center">
                    <div class="col-12 align-center">
                      Μέγεθος: <select id="tshirtSize" name="size" style="width:5em;display: inline-block;" class="ml-2 form-control" value="0">
                        <% product.sizes.forEach(function(match){ %>
                          <% if(match.sizeStatus!="hidden"){ %>
                          <option> <%= match.size %></option>
                        <% }}) %>
                      </select>
                    </div>
                  </div>
                  <div class="row mx-2 pb-2 d-flex align-items-center"> 
                    <div  name="color" class="colors col-12" align="center">
                      <ul>
                        <div class="row d-flex justify-content-center">
                        <% var i=0%>
                        <% product.colors.forEach(function(match) { %>
                            <% if(match.colorStatus!="hidden"){ %>
                            <div class="col-3">
                              <li>
                                <label>
                                  <input type="radio" name="color" value="<%= match.colorHex %>"<% if(i==0) {%> checked <% } %>>
                                  <span class="swatch" style="background-color:<%= match.colorHex %>"></span>
                                </label>
                              </li>
                            </div>  
                            <% i = i + 1 }%>  
                        <%});%>
                        </div>
                      </ul> 
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                      <button class="btn btn-dark btn-lg" style="border-radius:0px" type="submit">
                        Προσθηκη στο καλαθι
                      </button>
                    </div>
                  </div>
                </form>
              </div>      
          </div>
      </div>
    </div>
  </div>
<% }) %>

<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script type="text/javascript" src="/scripts/products.js"></script>