<%- include("./../partials/header")%>
<div id="main" class="main container-fluid product"  >
  <div class="row my-4 d-flex justify-content-start">
    <div class="mx-auto mt-2" style="align-items: center;">
      <h3>
      <b>
      <div><%= name %><hr class="normal"align="center" /></div>
      
      </b>
      </h3>
    </div>
  </div>
  <!-- <hr class="pic thick mx-5"> -->
  <div id="error" class="container desc alert alert-danger mb-4 hidden" role="alert">
  </div>
  <div  class="container-fluid" >
    <div class="row products-row d-flex justify-content-md-start justify-content-center align-items-start">
      <% products.forEach(function(product){ %>
      <% if(product.status=="hidden" && admin=="admin"){ %>
      <div class="col-12 col-sm-16 col-md-6 col-lg-4 col-xl-3 mb-5  d-flex justify-content-center">
        <div class="card opac mb-5" style="box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1); border-radius: 5px; border: 4px solid white;" >
          <%}else if(product.status=="hidden" && !admin){%>
          <div>
            <div class="card hidden" style="border-radius:0px;" style="box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1); border-radius: 5px; border: 4px solid white;">
              <%}else{%>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-5 d-flex justify-content-center" >
                <div class="card" style="box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1); border-radius: 5px; border: 4px solid white;" >
                  <%} %>
                  <div id="open<%= product._id %>" class="product-img" onclick="document.getElementById('product_modal_<%= product._id %>').style.display='block'">
                    <img src="<%=product.images[0].urlSmall %>" class="card-img-top" alt="" style="border-radius:0px;">
                    <div class="middle">
                      <div class="text" style="z-index: -1!important;">Προβολή</div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <div class="row">
                      <%  var name2 = product.name.slice(0,15); %>
                      <div class="col-10 d-flex justify-content-start" style="white-space: pre;">
                        <% if(product.name.length > 18){%>
                        <p><%=name2 %>...</p>
                        <%}else{%>
                        <p><%= product.name %></p>
                        <% } %>
                      </div>
                      <div class="col-2 d-flex justify-content-end">
                        <p><%=product.price %>€</p>
                      </div>
                      <div class="col-12 d-flex justify-content-center">
                        <a class="btn btn-primary btn-block btn-lg" href="/products/<%=product.type %>/<%=product._id%>">
                          Λεπτομερειες
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <% if(currentUser!= null && currentUser[currentUser.methods].priviledge=="Admin"){ %>
                  <button class=" btn-danger " style="height:3em; width:3em; text-align: center; " onclick="deleteProduct('<%=product._id%>','<%=product.type%>')">
                  <i class="fas fa-times fa-lg"></i>
                  </button>
                  <% if(product.status=="hidden"){ %>
                  <button class=" btn-secondary " style="height:3em;width:3em; text-align: center; " onclick="hideProduct('<%=product._id%>','<%=product.type%>')">
                  <i class="fas fa-eye"></i>
                  </button>
                  <%}else{%>
                  <button class=" btn-secondary" style="height:3em;width:3em; text-align: center; " onclick="hideProduct('<%=product._id%>','<%=product.type%>')">
                  <i class="fas fa-eye-slash"></i>
                  </button>
                  <%}%>
                  <%}%>
                </div>
              </div>
              <% }) %>
              <% if(currentUser!= null && currentUser[currentUser.methods].priviledge=="Admin") { %>
              <div class="px-0 col-12 col-sm-9 col-md-6 col-lg-4  mb-4 d-flex justify-content-center">
                <div class="card" style="height:20em; width:17em; margin-right:5em;">
                  <a href="<%=root%>/products/<%= type %>/add">
                    <img  src="<%=root%>/images/add.png">
                  </a>
                </div>
              </div>
              <% } %>
            </div>
          </div>
          <% if(currentUser!= null && currentUser[currentUser.methods].priviledge=="Admin") { %>
          <div class="alert alert-danger mx-auto d-flex justify-content-center" role="alert">
            ΠΡΟΣΟΧΗ!!! Δε μπορείς να διαγράψεις προϊόντα που βρίσκονται σε υπάρχουσα παραγγελία.
          </div>
          <%}%>
          <div class="row container-fluid d-flex justify-content-end">
            <% for (i = 0 ; i < pages ; i++) { %>
            <% if( page == i) {%>
            <a class="pbtn btn-primary mr-1" style=" color:white; background-color:#659e7a" href="<%=root%>/products/<%=type%>?page=<%= i %>"> <span><%= i+1%></span></a>
            <%}else{%>
            <a class="pbtn btn-primary mr-1" href="<%=root%>/products/<%=type%>?page=<%= i %>"> <span><%= i+1%></span></a>
            <%}%>
            <%}%>
          </div>
        </div>
        <%- include("./../partials/footer")%>
        <% products.forEach(function(product){ %>
        <div class="modal" id="product_modal_<%= product._id %>">
          <div class="modal-content animate " >
            <button class="btn-danger btn-dangerous Xbutton" onclick="document.getElementById('product_modal_<%= product._id %>').style.display='none'" class="cancelbtn" style="border-radius: 0px;">
            <i class="fas fa-times"></i>
            </button>
            <div id="inside_modal" class="row">
              <div class="col-md-7">
                <div id="carouselExampleControls_<%= product._id %>" class="carousel slide" data-interval="false">
                  <div class="carousel-inner">
                    <% Object.keys(product.images).forEach(function(key) { %>
                    <div class="carousel-item modal-carousel
                      <% if(key == 0){ %>
                      active">
                      <% } else{ %>
                      ">
                      <% } %>
                      <img class="d-block w-100" src="<%=product.images[key].urlSmall %>" alt="">
                    </div>
                    <% }) %>
                  </div>
                  <% if(product.images.length > 1){ %>
                  <a class="carousel-control-prev" href="#carouselExampleControls_<%= product._id %>" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls_<%= product._id %>" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                  <% }%>
                </div>
              </div>
              <div class="col-md-5 mt-md-5 pr-md-5 mb-sm-2 pb-sm-2 py-auto my-auto mx-auto modal-desc">
                <div class="row hide">
                  <div class="col-12 align-center"> <!--name -->
                  <h4><b><%=product.name %></b></h4>
                </div>
              </div>
              <hr class="thin mx-5 hide">
              <div class="row mx-1 hide">
                <div class="col-12 align-center">
                  <h4><%=product.price%>€</h4>
                </div>
              </div>
              <div class="row mx-1 hide justify-content-center" align="justify">
                <div id="desc<%= product._id %>" class="descriptionMini col-md-12 mt-3">
                  <h6><%=product.description%></h6>
                </div>
              </div>
              <div class="row mx-1 hide">
                <div class="col-11 justify-content-start" align="center">
                  <a style="color:#8AC8B0;" id="more<%= product._id %>" class="hidden" href="/products/<%=product.type %>/<%=product._id%>">Διάβασε περισσότερα</a>
                </div>
              </div>

              <div class="row align-center d-flex justify-content-center">
                <form id="form_modal_<%= product._id %>" action="/products/<%=product.type%>/<%=product._id%>/add" method="POST">
                  <hr class="thin">
                  <div class="row pb-1 mt-3 d-flex d-flex justify-content-center">
                    <h6 class="pb-1"><b>Μέγεθος:</b></h6>
                    <div class="col-12 d-flex justify-content-center align-items-center" align="center">
                      <select id="tshirtSize" name="size" style="width:5em;display: inline-block;" class="form-control mb-2" value="0">
                        <% product.sizes.forEach(function(match){ %>
                        <% if(match.sizeStatus!="hidden"){ %>
                        <option> <%= match.size %></option>
                        <% }}) %>
                      </select>
                    </div>
                  </div>
                </form>
              </div>
              <div class="row d-flex justify-content-center mt-2">
                <div name="color" class="colors col-6" align="center">
                  <h6 class="pb-2" align="center"><b>Χρώμα:</b></h6>
                  <ul>
                    <div class="row d-flex justify-content-center" align="center">
                      <% var i=0%>
                      <% product.colors.forEach(function(match) { %>
                      <% if(match.colorStatus!="hidden"){ %>
                      <div class="col-3 col-sm-3 d-flex justify-content-center" align="center" >
                        <li class="mx-auto">
                          <label>
                            <input form="form_modal_<%= product._id %>" type="radio" name="color" value="<%= match.colorHex %>" <% if(i==0) {%> checked="checked" <% } %>>
                            <span class="swatch-mini" style="background-color:<%= match.colorHex %>"></span>
                          </label>
                        </li>
                      </div>
                      <% i = i + 1 %>
                      <% }%>
                      <%});%>
                    </div>
                  </ul>
                </div>
              </div>
              <div class="row d-flex justify-content-center mb-2">
                <div class="col-12 d-flex justify-content-center" align="center">
                  <div class="pt-3">
                    <button type="submit" form="form_modal_<%= product._id %>" class="btn btn-primary btn-lg">
                    Προσθηκη στο καλαθι
                    </button>
                  </div>
                </div>
              </div>
              <hr class="thin w-75 or">
            </div>
          </div>
        </div>
      </div>
      <% }) %>
      <script type="text/javascript" src="/scripts/products.js"></script>