<%- include("./../partials/header")%>

<div id="main" class="main ninety mx-auto main pb-2 mb-5">
    <div class="row mx-auto container my-4 pt-2 justify-content-center">
        <div class="col-lg-4 col-md-6 col-9 mb-2 showIMG" style="padding:0px 0px;" >
            <div id="carouselExampleIndicators" class="carousel slide jumbotron-mini" style="padding:0px 0px;" data-ride="carousel">
              <div class="carousel-inner">
              <% Object.keys(images).forEach(function(key) { %>
                  <div class="carousel-item
                  <% if(key == 0){ %>
                      active">
                  <% } else{ %>
                      ">
                  <% } %>
                      <img style="box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1); border-radius: 5px; border: 2px solid #FAFAFA;" class="d-block w-100 h-100" src="<%=images[key].url%>" alt="">
                  </div>
              <% }) %>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
              </a>
            </div>
            <div class="row container d-flex justify-content-center mx-auto mt-2">
              <% Object.keys(images).forEach(function(key) { %>
                <div class="col-4 col-sm-3 d-flex justify-content-center align-items-center pb-2" >
                  <img data-target="#carouselExampleIndicators" data-slide-to="<%=key%>" class="d-block mini-images" src="<%=images[key].url%>" alt="">    
                </div>
                <% if(currentUser!= null && currentUser[currentUser.methods].priviledge=="Admin") {%>  
                  <button type="button" class="btn-danger d-flex justify-content-center align-items-center" style="height:1.5em; width:1.5em; margin-left:-15px;" onclick="deleteImage('<%=product._id%>','<%=product.type%>','<%=images[key].name%>')">
                    <i class="fas fa-times fa-lg" style="z-index: 0"></i>
                  </button>
                <% } %>
              <% }) %>
            </div>
            <% if(currentUser!= null && currentUser[currentUser.methods].priviledge=="Admin") {%>             
              <div class="row d-flex justify-content-center mt-2">
                  <a href="<%=product._id%>/addImages" class="btn btn-primary btn-lg">Εισαγωγη εικονας</a>
              </div>
            <%}%> 
        </div>
        <div id="desc" class="col-lg-7 col-md-12 col-12 mx-auto mt-1 bg-white"s>
          <div class="container pb-3 jumbotron-mini" style="background-color: white;">
            <div class="row d-flex justify-content-center justify-content-sm-start">
              <div class="col-12 pt-3" align="center">
                <h2><b><%=product.name%></b></h2>
              </div>
            </div>
            <div class="row">
              <div class="col-12"align="center">
                <div class="star-ratings" >
                  <div class="fill-ratings" id="star<%=product._id%>"style="width:<%=product.rating.toPrecision(2)*20%>%">
                    <div>★★★★★</div>
                  </div>
                  <div class="empty-ratings">
                    <div>★★★★★</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row d-flex justify-content-center desc">
              <div class="col-12 mt-4">
                <p><%= product.description%></p>
              </div>
            </div>
            <div class="row d-flex justify-content-center justify-content-sm-end">
              <div class="col-12 col-lg-4 pt-2" align="center">
                <h1 style="color:#31a579;font-weight: 200;font-size:60px;"><%=product.price%>€</h3>
              </div>
            </div>
            <% if(currentUser!= null && currentUser[currentUser.methods].priviledge=="Admin") {%>             
              <div class="row d-flex justify-content-center">
                  <a href="<%=product._id%>/edit" class="btn btn-primary btn-lg">Τροποποιηση Προιοντος</a>
              </div>
            <%}%>            
            <hr class="thin"> 
              <form class="mr-3" action="/products/<%=product.type%>/<%=product._id%>/add" id="buyForm" method="POST">
                <div class="row py-4 d-flex justify-content-center">
                  <div id="tshirtSize" name="size" class="colors col-12 col-sm-6 pb-4" align="center">
                    <h4><b>Μέγεθος: </b></h4>
                    <select id="tshirtSize" name="size" style="width:5em; height:2.2em; display: block; text-align: center;" class=" form-control">
                      <% product.sizes.forEach(function(match) { %>
                        <% if(match.sizeStatus!="hidden"){ %>
                          <option> <%=match.size%> </option>
                        <%}%>
                      <%});%>  
                    </select>       
                  </div>
                  <div class="col-12 col-sm-6 mb-3" align="center">
                     <h4><b>Ποσότητα:</b></h4>
                        <div class="def-number-input number-input safari_only bg-white" style="height:2.2em;">
                          <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown();" class="minus"></button>
                          <input class="quantity" name="qty" type="number" value="1" max="99" min="1">
                          <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp();" class="plus"></button>
                        </div>  
                    </div> 
                </div>
                <% if(currentUser!= null && currentUser[currentUser.methods].priviledge=="Admin") {%> 
                  <div class="row mt-2 d-flex justify-content-around">
                    <% product.sizes.forEach(function(match) { %>
                        <% if(match.sizeStatus=="hidden"){ %>
                          <label style="opacity: 0.8;"> <%=match.size%>  <button style="height:3em; text-align: center;"class="btn btn-secondary d-flex justify-content-center align-items-center"onclick="hideSize('<%=product._id%>','<%=product.type%>','<%=match.size%>')"> <i class="fas fa-eye"></i></button></label>
                        <%} else if(match.sizeStatus=="active") { %>
                          <label> <%=match.size%><button style="height:3em; text-align: center;"class="btn btn-secondary d-flex justify-content-center align-items-center"onclick="hideSize('<%=product._id%>','<%=product.type%>','<%=match.size%>')"> <i class="fas fa-eye-slash"></i></button> </label> 
                        <% } %>  
                    <%});%>
                  </div>
                <%}%>
                </form>
                <hr class="thin"> 
                <div class="row py-4 d-flex justify-content-center">
                <% if(currentUser!= null && currentUser[currentUser.methods].priviledge=="Admin" ){ %> 
                  <div  name="color" class="colors col-12" align="center">
                <%}else{%>
                  <div  name="color" class="colors col-6" align="center">
                <%}%>    
                    <h4 class="pb-2" align="center"><b>Χρώμα: </b></h4>
                    <ul>
                      <div class="row d-flex justify-content-center justify-content-sm-start" align="center">
                      <% var i=0%>
                      <% product.colors.forEach(function(match) { %>
                          <% if(match.colorStatus!="hidden"){ %>
                          <div class="col-6 col-sm-4 d-flex justify-content-center" align="center" >
                            <li class="mx-auto">
                              <label>
                                <input form="buyForm" type="radio" name="color" value="<%= match.colorHex %>"<% if(i==0) {%> checked <% } %>>
                                <span class="swatch" style="background-color:<%= match.colorHex %>"></span>
                              </label>
                          <% i = i + 1 %>
                          <%}else if(currentUser!= null && currentUser[currentUser.methods].priviledge=="Admin" && match.colorStatus =="hidden"){%>
                          <div class="col-6 col-sm-4 d-flex justify-content-center" align="center">
                            <li class="mx-auto">
                              <label style="opacity: 0.7">
                                <input form="buyForm" type="radio" name="color" value="<%= match.colorHex %>"<% if(i==0) {%> checked <% } %>>
                                <span class="swatch" style="background-color:<%= match.colorHex %>"></span>
                              </label>
                              <% i = i + 1 %>
                          <%}%>
                          <% if(currentUser!= null && currentUser[currentUser.methods].priviledge=="Admin"){ %>
                            <button type="button" class=" btn-danger " style="height:2.5em; width:2.5em; text-align: center; " onclick="deleteColor('<%=product._id%>','<%=product.type%>','<%=match.colorHex%>')">
                              <i class="fas fa-times fa-lg"></i>
                            </button>
                            <% if(match.colorStatus=="hidden"){ %>
                            <button type="button"  class=" btn-secondary " style="height:2.5em;width:2.5em; text-align: center; " onclick="hideColor('<%=product._id%>','<%=product.type%>','<%=match.colorHex%>')">
                              <i class="fas fa-eye"></i>
                            </button>
                            <%}else{%>
                              <button type="button"  class=" btn-secondary" style="height:2.5em;width:2.5em; text-align: center; " onclick="hideColor('<%=product._id%>','<%=product.type%>','<%=match.colorHex%>')">
                                <i class="fas fa-eye-slash"></i>
                              </button>
                            <%}%>
                          <%}%>
                         </li>
                        </div>    
                      <%});%>
                      </div>
                    </ul> 
                  </div>
                </div>
                <% if(currentUser!= null && currentUser[currentUser.methods].priviledge=="Admin") {%>             
                  <div class="row d-flex justify-content-center">
                      <a href="<%=product._id%>/addColors" class="btn btn-primary btn-lg">Προσθηκη Χρωματων</a>
                  </div>
                <%}%>
                <hr class="thin"> 
                <div class="row py-4  d-flex justify-content-center">  
                    <div class="col8" align="center">
                      <div class="pt-3">
                        <button type="submit" form="buyForm" class="btn btn-primary btn-lg px-4">
                          Προσθηκη στο καλαθι
                        </button>
                      </div>
                    </div>
                  </div>
                
            </div>
        </div>
    </div> 
    <hr class="pic thick mx-5 mt-5">
    <div class="pb-5 pt-2 mb-4" style="background-color: white;">
      <div class="row mx-auto my-2 pb-4" style="text-align:center">
        <div class="mx-auto">
          <h1>
          Αξιολογήσεις
          </h1>
          <h5><span class="pt-2 px-2"style="font-size:1.4rem;"><%=revCount %> Κριτικές</span></h5>
        </div>
      </div>

    <%if(product.reviews.length <= 0){ %>
      <div class="row  mx-auto my-2" style="text-align:center">
        <div class="mx-auto">
          <h5>
          Δεν υπάρχουν αξιολογήσεις! Προσθέστε μία τώρα!
          </h5>
        </div>
      </div>
    </div>
  <%}%>
    <% if(genError && genError.length > 0){ %>
      <div id="error" class="container desc alert alert-danger mb-4" role="alert">
          <%= genError %>
      </div>
    <%}%>
    <!-- <div class="py-4"style="background:#F5F5F5;"> -->
      <form id="review-form" class="mb-5 container mx-auto" action="/products/<%=product.type%>/<%=product._id%>/review" method="POST">
        <input type="hidden" name="productType" value="<%=product.type%>">
        <input type="hidden" name="productId" value="<%=product._id%>">
        <div class="form-row">
  <%if(!currentUser){%>
            <div class="form-group col-md-6 px-4">
              <label for="nameRating">Ονoματεπώνυμο *</label>
              <input type="text" class="form-control" name="author" id="nameRating"  value="<%= validated.author %>" required>
            </div>
            <div class="form-group col-md-6 px-4">
              <div class="row">
                <label for="starRating" class="stars">Βαθμολογία *</label>
              </div>
              <div class="row">
                <fieldset class="rate stars" id="starRating" >
                  <input type="radio" id="rating10" name="rating" value="10"  /><label for="rating10" title="5 stars"></label>
                  <input type="radio" id="rating9" name="rating" value="9" /><label class="half" for="rating9" title="4 1/2 stars"></label>
                  <input type="radio" id="rating8" name="rating" value="8" /><label for="rating8" title="4 stars"></label>
                  <input type="radio" id="rating7" name="rating" value="7" /><label class="half" for="rating7" title="3 1/2 stars"></label>
                  <input type="radio" id="rating6" name="rating" value="6" /><label for="rating6" title="3 stars"></label>
                  <input type="radio" id="rating5" name="rating" value="5" /><label class="half" for="rating5" title="2 1/2 stars"></label>
                  <input type="radio" id="rating4" name="rating" value="4" /><label for="rating4" title="2 stars"></label>
                  <input type="radio" id="rating3" name="rating" value="3" /><label class="half" for="rating3" title="1 1/2 stars"></label>
                  <input type="radio" id="rating2" name="rating" value="2" /><label for="rating2" title="1 star"></label>
                  <input type="radio" id="rating1" name="rating" value="1" /><label class="half" for="rating1" title="1/2 star"></label>
                  <!-- <input type="radio" id="rating0" name="rating" value="0" /><label for="rating0" title="No star"></label> -->
                </fieldset>
              </div>
            </div>
    <%}else{%>
            <div class="form-group col-md-6 px-4">
              <div class="row">
                <label for="starRating" class="ml-3">Βαθμολογία *</label>
              </div>
              <div class="row">
                <fieldset class="rate ml-3" id="starRating" >
                  <input type="radio" id="rating10" name="rating" value="10" /><label for="rating10" title="5 stars"></label>
                  <input type="radio" id="rating9" name="rating" value="9" /><label class="half" for="rating9" title="4 1/2 stars"></label>
                  <input type="radio" id="rating8" name="rating" value="8" /><label for="rating8" title="4 stars"></label>
                  <input type="radio" id="rating7" name="rating" value="7" /><label class="half" for="rating7" title="3 1/2 stars"></label>
                  <input type="radio" id="rating6" name="rating" value="6" /><label for="rating6" title="3 stars"></label>
                  <input type="radio" id="rating5" name="rating" value="5" /><label class="half" for="rating5" title="2 1/2 stars"></label>
                  <input type="radio" id="rating4" name="rating" value="4" /><label for="rating4" title="2 stars"></label>
                  <input type="radio" id="rating3" name="rating" value="3" /><label class="half" for="rating3" title="1 1/2 stars"></label>
                  <input type="radio" id="rating2" name="rating" value="2" /><label for="rating2" title="1 star"></label>
                  <input type="radio" id="rating1" name="rating" value="1" /><label class="half" for="rating1" title="1/2 star"></label>
                  <!-- <input type="radio" id="rating0" name="rating" value="0" /><label for="rating0" title="No star"></label> -->
                </fieldset>
              </div>
            </div>
    <%}%>
        </div>
        <div class="form-row">
          <div class="form-group col-12 px-4">
            <label for="newReviewTextArea">Σχόλια</label>
            <textarea class="form-control" name="description" id="newReviewTextArea" rows="2"><%= validated.description %></textarea>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-12 px-4 d-flex justify-content-center justify-content-md-start">
              <button type="submit" class="btn btn-primary">Υποβολη Αξιολογησης</button>
          </div>
        </div>
      </form>
    <!-- </div>   -->
<%reviews.forEach(function(review){%>
  <div class="px-4 py-1 mx-3 mb-2 review-container">
    <div class="row px-4  py-1">
      <img class="pic mr-2" src="<%= review.photo %>"  height="80" width="80"></img>  
      <div class="pt-2 pl-2 mb-2">
        <div>
          <h4><%=review.author%></h4>
        </div>
        <div >
          <%=review.showDate%>
        </div>
      </div>
      <div class="star-ratings ml-1 mb-2">
        <div id="<%=review._id%>" class="fill-ratings" style="width: <%=review.rating.toPrecision(2)*10%>%">
          <div>★★★★★</div>
        </div>
        <div class="empty-ratings ">
          <div>★★★★★</div>
        </div>
      </div>
    </div>
    <div class="row px-4 py-2 mt-2">
        <%=review.description%>
    </div>
    </div>

    <%});%>
  </div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script type="text/javascript" src="/scripts/products.js"></script>
<%- include("./../partials/footer")%>
