<%- include("./../partials/header")%>

<div id="main" class="main ninety mx-auto main pb-2 mb-5">
  <div class="row mx-auto  my-4 pt-2 justify-content-center">
    <div class="col-lg-5 col-md-6 col-sm-12 col-12 mb-2 bg-white" >
      <div id="carouselExampleIndicators" class="carousel slide jumbotron-mini" style="padding:0px 0px;" data-ride="carousel">
        <div class="carousel-inner">
          <% Object.keys(images).forEach(function(key) { %>
          <div class="carousel-item
            <% if(key == 0){ %>
            active">
            <% } else{ %>
            ">
            <% } %>
            <div class='zoom' id='forZoom' style="cursor:zoom-in;" onclick="window.open('<%=images[key].url%>')">
              <img id="Zoom" class="shownImage" src="<%=images[key].url%>" alt="">
            </div>
          </div>
          <% }) %>
        </div>
        <% if(images.length > 1){ %>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        <%}%>
      </div>
      <div class="row container d-flex justify-content-start  mt-2">
        <% Object.keys(images).forEach(function(key) { %>
        <div class="col-4 col-sm-3 d-flex justify-content-start pb-2" >
          <img data-target="#carouselExampleIndicators" data-slide-to="<%=key%>" class="mini-images" src="<%=images[key].url%>" alt="">
          <span  class="<%= images[key].colorTag %>" value="<%=key %>" hidden></span>
        </div>
        <% if(currentUser!= null && currentUser[currentUser.methods].priviledge=="Admin") {%>
        <button type="button" class="btn-danger d-flex justify-content-center align-items-center" style="height:1.5em; width:1.5em; margin-left:-10px;" onclick="deleteImage('<%=product._id%>','<%=product.type%>','<%=images[key].name%>')">
          <i class="fas fa-times fa-lg" style="z-index: 0"></i>
        </button>
        <% } %>
        <% }) %>
      </div>
      <% if(currentUser!= null && currentUser[currentUser.methods].priviledge=="Admin") {%>
      <div class="row d-flex justify-content-center mt-2">
        <a href="<%=product._id%>/addImages" class="btn btn-primary btn-lg">Εισαγωγη εικονας</a>
      </div>
      <%}%>
    </div>
    <div id="desc" class="col-lg-5 col-md-6 col-sm-12 col-12 mt-1 bg-white">
      <div class="container pb-3 jumbotron-mini" style="background-color: white;">
        <div class="row d-flex justify-content-center justify-content-sm-start">
          <div class="col-12 pt-3" align="center">
            <h2><b><%=product.name%></b></h2>
            <a href="#"> #<%= product.code  %> </a>
          </div>
        </div>
        <div class="row">
          <div class="col-12"align="center">
            <div class="star-ratings" >
              <div class="fill-ratings" id="star<%=product._id%>"style="width:<%=product.rating.toPrecision(2)*20%>%">
                <div>★★★★★</div>
              </div>
              <div class="empty-ratings">
                <div>★★★★★</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-center" align="justify">
          <div id="description" class="col-11 mt-4">
            <%= product.description%>
          </div>
        </div>
        <div class="row d-flex justify-content-center" align="left">
          <div class="col-11 mt-4 description">
            <span id="more" style="color:#8AC8B0;cursor: pointer;" href="#">Διάβασε περισσότερα</span>
          </div>
        </div>
        <div class="row d-flex justify-content-center justify-content-sm-end">
          <div class="col-12 col-lg-4" align="center">
            <h1 style="color:#31a579;font-weight: 200;font-size:60px;"><%=product.price%>€</h3>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col8" align="center">
            <div class="pt-3">
              <button  type="submit" form="buyForm" class="btn btn-primary btn-lg px-4">
              Προσθηκη στο καλαθι
              </button>
            </div>
          </div>
        </div>
        <% if(currentUser!= null && currentUser[currentUser.methods].priviledge=="Admin") {%>
        <div class="row d-flex py-4 justify-content-center">
          <a href="<%=product._id%>/edit" class="btn btn-primary btn-lg">Τροποποιηση Προιοντος</a>
        </div>
        <%}%>
        <hr class="thin">
        <form action="/products/<%=product.type%>/<%=product._id%>/add" id="buyForm" method="POST">
          <div class="row py-4 d-flex justify-content-center mr-sm-3">
            <div id="tshirtSize" name="size" class="colors col-12 col-sm-6 pb-4" align="center">
              <h4><b>Μέγεθος: </b></h4>
              <select id="tshirtSize" name="size" style="width:5em; height:2.2em; display: block; text-align: center;" class=" form-control">
                <% product.sizes.forEach(function(match) { %>
                <% if(match.sizeStatus!="hidden"){ %>
                <option> <%=match.size%> </option>
                <%}%>
                <%});%>
              </select>
            </div>
            <div class="col-12 col-sm-6 mb-3" align="center">
              <h4><b>Ποσότητα:</b></h4>
              <div class="def-number-input number-input safari_only bg-white" style="height:2.2em;">
                <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown();" class="minus"></button>
                <input class="quantity" name="qty" type="number" value="1" max="99" min="1">
                <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp();" class="plus"></button>
              </div>
            </div>
          </div>
          <% if(currentUser!= null && currentUser[currentUser.methods].priviledge=="Admin") {%>
          <div class="row mt-2 d-flex justify-content-around">
            <% product.sizes.forEach(function(match) { %>
            <% if(match.sizeStatus=="hidden"){ %>
            <label style="opacity: 0.8;"> <%=match.size%>  <button type="button" style="height:3em; text-align: center;"class="btn btn-secondary d-flex justify-content-center align-items-center" onclick="hideSize('<%=product._id%>','<%=product.type%>','<%=match.size%>')"> <i class="fas fa-eye"></i></button></label>
            <%} else if(match.sizeStatus=="active") { %>
            <label> <%=match.size%><button style="height:3em; text-align: center;" type="button" class="btn btn-secondary d-flex justify-content-center align-items-center"onclick="hideSize('<%=product._id%>','<%=product.type%>','<%=match.size%>')"> <i class="fas fa-eye-slash"></i></button> </label>
            <% } %>
            <%});%>
          </div>
          <%}%>
        </form>
        <!-- <hr class="thin"> -->
        <div class="row mr-sm-3 d-flex justify-content-center">
          <% if(currentUser!= null && currentUser[currentUser.methods].priviledge=="Admin" ){ %>
          <div  name="color" class="colors col-6 col-sm-12" align="center">
            <%}else{%>
            <div  name="color" class="colors col-6 col-sm-12" align="center">
              <%}%>
              <h4 class="pb-2" align="center"><b>Χρώμα: </b></h4>
              <ul>
                <div class="row d-flex justify-content-center" align="center">
                  <% product.colors.forEach(function(match,i) { %>
                  <% if(match.colorStatus!="hidden"){ %>
                  <div class="col-6 col-sm-3 col-md-2 col-lg-2 col-xl-1 d-flex justify-content-center" align="center" >
                    <li class="mx-auto">
                      <label>
                        <input form="buyForm" type="radio" name="color" value="<%= match.colorHex %>"<% if(i==0) {%> checked <% } %> onclick="goToImage('<%= match.colorHex %>');">
                        <span class="swatch" style="background-color:<%= match.colorHex %>"></span>
                      </label>
                      <%}else if(currentUser!= null && currentUser[currentUser.methods].priviledge=="Admin" && match.colorStatus =="hidden"){%>
                      <div class="col-6 col-sm-3 col-md-2 col-lg-3 col-xl-1 d-flex justify-content-center" align="center">
                        <li class="mx-auto">
                          <label style="opacity: 0.7">
                            <input form="buyForm" type="radio" name="color" value="<%= match.colorHex %>"<% if(i==0) {%> checked <% } %>>
                            <span class="swatch" style="background-color:<%= match.colorHex %>"></span>
                          </label>
                          <%}%>
                          <% if(currentUser!= null && currentUser[currentUser.methods].priviledge=="Admin"){ %>
                          <div>
                            <button type="button" class=" btn-danger" style="height:2.5em; width:2.5em; text-align: center; " onclick="deleteColor('<%=product._id%>','<%=product.type%>','<%=match.colorHex%>')">
                              <i class="fas fa-times fa-lg"></i>
                            </button>
                          </div>
                          <% if(match.colorStatus=="hidden"){ %>
                          <div>
                            <button type="button"  class=" btn-secondary " style="height:2.5em;width:2.5em; text-align: center; " onclick="hideColor('<%=product._id%>','<%=product.type%>','<%=match.colorHex%>')">
                            <i class="fas fa-eye"></i>
                            </button>
                          </div>
                          <%}else{%>
                          <div>
                            <button type="button"  class=" btn-secondary" style="height:2.5em;width:2.5em; text-align: center; " onclick="hideColor('<%=product._id%>','<%=product.type%>','<%=match.colorHex%>')">
                            <i class="fas fa-eye-slash"></i>
                            </button>
                          </div>
                          <%}%>
                          <%}%>
                        </li>
                      </div>
                      <%});%>
                    </div>
                  </ul>
                </div>
              </div>
              <% if(currentUser!= null && currentUser[currentUser.methods].priviledge=="Admin") {%>
              <div class="row mr-sm-3 py-4 d-flex justify-content-center">
                <a href="<%=product._id%>/addColors" class="btn btn-primary btn-lg">Προσθηκη Χρωματων</a>
              </div>
              <%}%>
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-md-6 col-12 pt-3" align="center">
            <div class="container">

              <button class="btn btn-primary w-100" style="border-radius: 0px;" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                  Μεγεθη
              </button>

              <div class="collapse show" id="collapseExample2" style="overflow: auto;">
                <div class="card card-body w-100 overflow-auto"  style="padding:0; box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.75);">
                       
                  <table class="table table-bordered" style="table-layout:inherit;margin: 0;">
                    <thead>
                      <tr>
                        <th>cm</th>
                        <th>S</th>
                        <th>M</th>
                        <th>L</th>
                        <th>XL</th>
                        <th>XXL</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% product.sizesTable.forEach(row => { %>
                        <tr>
                          <% row.forEach(element => { %>
                            <td><%= element %></td>
                          <% }); %> 
                        </tr>
                      <% }); %> 
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-12 pt-3"  align="center">
            <div class="container">

              <button class="btn btn-primary w-100" style="border-radius: 0px; box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.75);" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                  Φροντιδα
              </button>

              <div class="collapse show" id="collapseExample">
                <div class="card card-body w-100"  style="padding: 0 0;">
                  <p align="justify" class="container pt-2">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed, rem dicta! Rem natus reiciendis accusamus earum nulla hic aliquam repudiandae ut iusto? Assumenda, suscipit error fugit rerum impedit eaque deleniti vitae aliquam fuga ex non, tempore voluptatibus doloremque unde eveniet a harum totam. Quisquam itaque quas nemo molestiae perspiciatis libero corrupti dignissimos voluptatum odit placeat, accusamus vel molestias magni voluptatibus ad dolore quae alias, recusandae ducimus rem. Dicta, veniam? Ut nisi, minus deleniti nemo, laboriosam illum sapiente vitae quidem pariatur blanditiis dignissimos provident harum suscipit tempore? Maxime nostrum, ea eligendi aperiam assumenda corrupti. Excepturi voluptas quos consectetur vero ullam assumenda?
                  </p>
                </div>
              </div>    
          </div>
        </div>
        </div>
        <% if(recommended != null) { %> 
        <hr class="pic thick mx-5 mt-5">
        <div class="container-fluid my-4" align="center">
          <div class="ninety " align="center">
            <!--Carousel Wrapper-->
            <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
        
              <h3 class="mb-5">Top Sellers</h3>
        
              <!--Slides-->
              <div class="carousel-inner" role="listbox">
                <% var activeRow = 1 %> 
                <% recommended.forEach(function(slice){ %>
                <!--First slide-->
                <% if(activeRow == 1){ %> 
                <div class="carousel-item active">
                <% }else{ %>
                <div class="carousel-item">
                <% } activeRow = activeRow + 1 %> 
                  <div class="row">
                    <% slice.forEach(function(product){ %>
                    <div class="col-md-3 clearfix">
                        <div class="card" style="box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1); border-radius: 5px; border: 4px solid white; z-index : 0" >
                          <div class="product-img" onclick="window.location='/products/<%=product.type %>/<%=product._id%>';">                      
                            <img src="<%=product.images[0].urlSmall %>" class="card-img-top product-img" alt="" style="border-radius:0px; z-index : 0;cursor: pointer;" onclick="window.location='/products/<%=product.type %>/<%=product._id%>';">
                            <div class="middle">
                              <div class="text" style="z-index: 1!important;cursor: pointer;">Προβολή</div>
                            </div>
                          </div>  
                          <div class="card-body">
                            <div class="row">
                              <%  var name2 = product.name.slice(0,15); %>
                              <div class="col-10 d-flex justify-content-start" style="white-space: pre;">
                                <% if(product.name.length > 18){%>
                                <p><%=name2 %>...</p>
                                <%}else{%>
                                <p><%= product.name %></p>
                                <% } %>
                              </div>
                              <div class="col-2 d-flex justify-content-end">
                                <p><%=product.price %>€</p>
                              </div>
                              <div class="col-12 d-flex justify-content-center">
                                <a class="btn btn-primary btn-block btn-lg" href="/products/<%=product.type %>/<%=product._id%>">
                                  Λεπτομερειες
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <% }); %> 
        
                  </div>  
                </div>
                <% }); %> 
                <!--/.First slide-->

              </div>
              <!--/.Slides-->
        
            </div>
            <!--/.Carousel Wrapper-->
            <% if(recommended.length > 1) { %> 
            <!--Controls-->
            <div class="my-3">
              <a class="btn btn-outline-primary btn-circle mx-3" href="#multi-item-example" data-slide="prev" style="border-radius: 15px;"><i class="fa fa-chevron-left"></i></a>
              <a class="btn btn-outline-primary btn-circle mx-3" href="#multi-item-example" data-slide="next" style="border-radius: 15px;"><i class="fa fa-chevron-right"></i></a>
            </div>
            <% } %> 
          <!--/.Controls-->
          </div>
        </div>
        <% } %> 
        <hr class="pic thick mx-5 mt-5">

        <div class="pb-5 pt-2 mb-4" style="background-color: white;">
          <div class="row mx-auto my-2 pb-4" style="text-align:center">
            <div class="mx-auto">
              <h1>
              Αξιολογήσεις
              </h1>
              <h5><span class="pt-2 px-2"style="font-size:1.4rem;"><%=revCount %> Κριτικές</span></h5>
            </div>
          </div>
          <%if(product.reviews.length <= 0){ %>
          <div class="row  mx-auto my-2" style="text-align:center">
            <div class="mx-auto">
              <h5>
              Δεν υπάρχουν αξιολογήσεις! Προσθέστε μία τώρα!
              </h5>
            </div>
          </div>
        </div>
        <%}%>
        
        <% if(genError&& genError.length > 0){ %>
        <div id="error" class="alert alert-danger mx-3 my-4 desc" role="alert">
          <span><%= genError %> </span>
        </div>
        <%}%>
        <% if(genSuccess&& genSuccess.length > 0){ %>
        <div id="error" class="alert alert-success mx-3 my-4 desc" role="alert">
          <%= genSuccess %>
        </div>
        <%}%>
        <!-- <div class="py-4"style="background:#F5F5F5;"> -->
        <form id="review-form" class="mb-5 container mx-auto" action="/products/<%=product.type%>/<%=product._id%>/review" method="POST">
          <input type="hidden" name="productType" value="<%=product.type%>">
          <input type="hidden" name="productId" value="<%=product._id%>">
          <div class="form-row">
            <%if(!currentUser){%>
            <div class="form-group col-md-6 px-4">
              <label for="nameRating">Ονoματεπώνυμο *</label>
              <input type="text" class="form-control" name="author" id="nameRating"  value="<%= validated.author %>" required>
            </div>
            <div class="form-group col-md-6 px-4">
              <div class="row">
                <label for="starRating" class="stars">Βαθμολογία *</label>
              </div>
              <div class="row">
                <fieldset class="rate stars" id="starRating" >
                  <input type="radio" id="rating10" name="rating" value="10"  /><label for="rating10" title="5 stars"></label>
                  <input type="radio" id="rating9" name="rating" value="9" /><label class="half" for="rating9" title="4 1/2 stars"></label>
                  <input type="radio" id="rating8" name="rating" value="8" /><label for="rating8" title="4 stars"></label>
                  <input type="radio" id="rating7" name="rating" value="7" /><label class="half" for="rating7" title="3 1/2 stars"></label>
                  <input type="radio" id="rating6" name="rating" value="6" /><label for="rating6" title="3 stars"></label>
                  <input type="radio" id="rating5" name="rating" value="5" /><label class="half" for="rating5" title="2 1/2 stars"></label>
                  <input type="radio" id="rating4" name="rating" value="4" /><label for="rating4" title="2 stars"></label>
                  <input type="radio" id="rating3" name="rating" value="3" /><label class="half" for="rating3" title="1 1/2 stars"></label>
                  <input type="radio" id="rating2" name="rating" value="2" /><label for="rating2" title="1 star"></label>
                  <input type="radio" id="rating1" name="rating" value="1" /><label class="half" for="rating1" title="1/2 star"></label>
                  <!-- <input type="radio" id="rating0" name="rating" value="0" /><label for="rating0" title="No star"></label> -->
                </fieldset>
              </div>
            </div>
            <%}else{%>
            <div class="form-group col-md-6 px-4">
              <div class="row">
                <label for="starRating" class="ml-3">Βαθμολογία *</label>
              </div>
              <div class="row">
                <fieldset class="rate ml-3" id="starRating" >
                  <input type="radio" id="rating10" name="rating" value="10" /><label for="rating10" title="5 stars"></label>
                  <input type="radio" id="rating9" name="rating" value="9" /><label class="half" for="rating9" title="4 1/2 stars"></label>
                  <input type="radio" id="rating8" name="rating" value="8" /><label for="rating8" title="4 stars"></label>
                  <input type="radio" id="rating7" name="rating" value="7" /><label class="half" for="rating7" title="3 1/2 stars"></label>
                  <input type="radio" id="rating6" name="rating" value="6" /><label for="rating6" title="3 stars"></label>
                  <input type="radio" id="rating5" name="rating" value="5" /><label class="half" for="rating5" title="2 1/2 stars"></label>
                  <input type="radio" id="rating4" name="rating" value="4" /><label for="rating4" title="2 stars"></label>
                  <input type="radio" id="rating3" name="rating" value="3" /><label class="half" for="rating3" title="1 1/2 stars"></label>
                  <input type="radio" id="rating2" name="rating" value="2" /><label for="rating2" title="1 star"></label>
                  <input type="radio" id="rating1" name="rating" value="1" /><label class="half" for="rating1" title="1/2 star"></label>
                  <!-- <input type="radio" id="rating0" name="rating" value="0" /><label for="rating0" title="No star"></label> -->
                </fieldset>
              </div>
            </div>
            <%}%>
          </div>
          <div class="form-row">
            <div class="form-group col-12 px-4">
              <label for="newReviewTextArea">Σχόλια</label>
              <textarea class="form-control" name="description" id="newReviewTextArea" rows="2"><%= validated.description %></textarea>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12 px-4 d-flex justify-content-center justify-content-md-start">
              <button type="submit" class="btn btn-primary">Υποβολη Αξιολογησης</button>
            </div>
          </div>
        </form>
        <!-- </div>   -->
        <%reviews.forEach(function(review){%>
        <div class="px-4 py-1 mx-3 mb-2 review-container">
          <div class="row px-4  py-1">
            <img class="pic mr-2" src="<%= review.photo %>"  height="80" width="80"></img>
            <div class="pt-2 pl-2 mb-2">
              <div>
                <h4><%=review.author%></h4>
              </div>
              <div >
                <%=review.showDate%>
              </div>
            </div>
            <div class="star-ratings ml-1 mb-2">
              <div id="<%=review._id%>" class="fill-ratings" style="width: <%=review.rating.toPrecision(2)*10%>%">
                <div>★★★★★</div>
              </div>
              <div class="empty-ratings ">
                <div>★★★★★</div>
              </div>
            </div>
          </div>
          <div class="row px-4 py-2 mt-2">
            <%=review.description%>
          </div>
        </div>
        <%});%>
      </div>
      <script nonce="<%=nonce%>" type="text/javascript" src="/scripts/products.js"></script>
      <%- include("./../partials/footer")%>