<%- include("./../partials/header")%>

<div id="main" class="main container main pb-2 mb-5">
  <% if(genError && genError.length > 0){ %>
    <div class=" alert-danger px-3 py-3 mx-auto" role="alert">
        <%= genError %>
    </div>
  <%}%>
    <div class="row my-4">
        <div class="col-md-5">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                <% Object.keys(images).forEach(function(key) { %>
                    <div class="carousel-item
                    <% if(key == 0){ %>
                        active">
                    <% } else{ %>
                        ">
                    <% } %>
                        <img class="d-block w-100 h-75 ml-1" src="<%=images[key].url%>" alt="">
                    </div>
                <% }) %>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div id="desc" class="col-md-7 mx-auto mt-3">
          <div class="container">
          <% if(currentUser!= null && currentUser[currentUser.methods].priviledge=="Admin") {%>
            <form id="edit_form" action="/products/<%= product.type %>/<%=product.name %>/edit?_method=PUT" method="POST">
              <div class="row">
                <div class="col-12 pt-3 align-left">
                  <h2><input type="text" class="form-control w-50" name="name" value="<%=product.name%>"></h2>
                </div>
              </div>
              <div class="row">
                <div class="col-12 mt-1 align-left">
                  <div class="star-ratings">
                    <div class="fill-ratings" id="star<%=product._id%>"style="width:<%=product.rating.toPrecision(2)*20%>%">
                      <div>★★★★★</div>
                    </div>
                    <div class="empty-ratings">
                      <div>★★★★★</div>
                    </div>
                  </div>
                  <span style="font-size:1.4rem;">(<%=product.rating.toPrecision(2) %>)</span>
                </div>
              </div>
              <div class="row">
                <div class="col-12 pt-2 align-left">
                  <h4 style="display:inline-block;"><input type="number" min="1" class="form-control pb-2" style="width:4em;display:inline-block;" name="price" value="<%=product.price%>"> €</h4>
                </div>
              </div>
              <hr class="thin">
              <div class="row">
                <div class="col-12 mt-2 align-left">
                  <h5><textarea name="description" class="form-control w-75" rows="5" cols="40"><%=product.description %></textarea></h5>
                </div>
              </div>
              <div class="row">
                <div class="col-12 mt-2 align-left">
                  <button type="submit" form="edit_form" class="btn btn-dark btn-lg" style="border-radius:0px">Αλλαγη</button>
                </div>
              </div>
            </form>  
          <%}else{%>
              <div class="row">
                <div class="col-12 pt-3 d-flex justify-content-md-start justify-content-center ">
                  <h4><%=product.name%></h4>
                </div>
              </div>
              <div class="row">
                <div class="col-12 mt-1 d-flex justify-content-md-start  justify-content-center">
                  <div class="star-ratings">
                    <div class="fill-ratings" id="star<%=product._id%>"style="width:<%=product.rating.toPrecision(2)*20%>%">
                      <div>★★★★★</div>
                    </div>
                    <div class="empty-ratings">
                      <div>★★★★★</div>
                    </div>
                  </div>
                  <span class="pt-2 px-2 lol"style="font-size:1.4rem;">(<%=revCount %> Αξιολογήσεις)</span>
                </div>
              </div>
              <div class="row">
                <div class="col-12 pt-2 pr-4 d-flex justify-content-md-start justify-content-end">
                  <h4><%=product.price%>€</h4>
                </div>
              </div>
              <hr class="thin">
              <div class="row">
                <div class="col-12 mt-2 d-flex align-left">
                  <h5><%= product.description%></h5>
                </div>
              </div>
            <%}%>
                <form action="/products/<%=product.type%>/<%=product.name%>/add" method="POST">
                  <div class="row py-4 d-flex justify-content-start"> 
                    <div class="col-6 col-lg-4 align-center">
                      Μέγεθος: <select id="tshirtSize" name="size" style="width:4em;display: inline-block;" class=" form-control">
                        <% products.forEach(function(match) { %>
                            <% if(match.sizeStatus!="hidden"){ %>
                              <option> <%=match.size%> </option>
                            <%}%>  
                        <%});%>
                      </select>
                    </div>
                    <div class="col-5 col-lg-4 align-center" >
                     Ποσότητα: <input type="number"  class="form-control" style="width:4em; display: inline-block;"  name="qty" value="1" min="1" max="99">
                    </div>
                  </div>      
                  <div class="row">
                    <div class="col-12 d-flex justify-content-center justify-content-md-start">
                      <div class="pt-3">
                        <button type="submit" class="btn btn-dark btn-lg" style="border-radius:0px">
                          Προσθηκη στο καλαθι
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
                <% if(currentUser!= null && currentUser[currentUser.methods].priviledge=="Admin") {%> 
                    <div class="row mt-5 d-flex justify-content-around">
                      <% products.forEach(function(match) { %>
                          <% if(match.sizeStatus=="hidden"){ %>
                            <label style="opacity: 0.8;"> <%=match.size%>  <button style="height:3em; text-align: center;"class="btn btn-secondary d-flex justify-content-center align-items-center"onclick="hideSize('<%=match._id%>','<%=product.type%>')"> <i class="fas fa-eye"></i></button></label>
                          <%} else if(match.sizeStatus=="active") { %>
                            <label> <%=match.size%>  <button style="height:3em; text-align: center;"class="btn btn-secondary d-flex justify-content-center align-items-center"onclick="hideSize('<%=match._id%>','<%=product.type%>')"> <i class="fas fa-eye-slash"></i></button> </label> 
                          <% } %>  
                      <%});%>
                    </div>
                  <%}%>
           

            </div>
        </div>
    </div>
    <hr class="pic thick mx-5 mt-5">
    <div class="row mx-auto my-2" style="text-align:center">
      <div class="mx-auto">
        <h3>
        Αξιολογήσεις
        </h3>
      </div>
    </div>

  <%if(product.reviews.length <= 0){ %>
    <div class="row mx-auto my-2" style="text-align:center">
      <div class="mx-auto">
        <h5>
        Δεν υπάρχουν αξιολογήσεις! Προσθέστε μία τώρα!
        </h5>
      </div>
    </div>
  <%}%>

    <!-- <div class="py-4"style="background:#F5F5F5;"> -->
      <form id="review-form" action="/products/<%=product.type%>/<%=product.name%>/review" method="POST">
        <input type="hidden" name="productType" value="<%=product.type%>">
        <input type="hidden" name="productId" value="<%=product._id%>">
        <div class="form-row">
  <%if(!currentUser){%>
            <div class="form-group col-md-6 px-4">
              <label for="nameRating">Ονoματεπώνυμο</label>
              <input type="text" class="form-control" name="author" id="nameRating" required>
            </div>
            <div class="form-group col-md-6 px-4">
              <div class="row">
                <label for="starRating" class="stars">Βαθμολογία</label>
              </div>
              <div class="row">
                <fieldset class="rate stars" id="starRating" >
                  <input type="radio" id="rating10" name="rating" value="10"  /><label for="rating10" title="5 stars"></label>
                  <input type="radio" id="rating9" name="rating" value="9" /><label class="half" for="rating9" title="4 1/2 stars"></label>
                  <input type="radio" id="rating8" name="rating" value="8" /><label for="rating8" title="4 stars"></label>
                  <input type="radio" id="rating7" name="rating" value="7" /><label class="half" for="rating7" title="3 1/2 stars"></label>
                  <input type="radio" id="rating6" name="rating" value="6" /><label for="rating6" title="3 stars"></label>
                  <input type="radio" id="rating5" name="rating" value="5" /><label class="half" for="rating5" title="2 1/2 stars"></label>
                  <input type="radio" id="rating4" name="rating" value="4" /><label for="rating4" title="2 stars"></label>
                  <input type="radio" id="rating3" name="rating" value="3" /><label class="half" for="rating3" title="1 1/2 stars"></label>
                  <input type="radio" id="rating2" name="rating" value="2" /><label for="rating2" title="1 star"></label>
                  <input type="radio" id="rating1" name="rating" value="1" /><label class="half" for="rating1" title="1/2 star"></label>
                  <!-- <input type="radio" id="rating0" name="rating" value="0" /><label for="rating0" title="No star"></label> -->
                </fieldset>
              </div>
            </div>
    <%}else{%>
            <div class="form-group col-md-6 px-4">
              <div class="row">
                <label for="starRating" class="ml-3">Βαθμολογία</label>
              </div>
              <div class="row">
                <fieldset class="rate ml-3" id="starRating" >
                  <input type="radio" id="rating10" name="rating" value="10" /><label for="rating10" title="5 stars"></label>
                  <input type="radio" id="rating9" name="rating" value="9" /><label class="half" for="rating9" title="4 1/2 stars"></label>
                  <input type="radio" id="rating8" name="rating" value="8" /><label for="rating8" title="4 stars"></label>
                  <input type="radio" id="rating7" name="rating" value="7" /><label class="half" for="rating7" title="3 1/2 stars"></label>
                  <input type="radio" id="rating6" name="rating" value="6" /><label for="rating6" title="3 stars"></label>
                  <input type="radio" id="rating5" name="rating" value="5" /><label class="half" for="rating5" title="2 1/2 stars"></label>
                  <input type="radio" id="rating4" name="rating" value="4" /><label for="rating4" title="2 stars"></label>
                  <input type="radio" id="rating3" name="rating" value="3" /><label class="half" for="rating3" title="1 1/2 stars"></label>
                  <input type="radio" id="rating2" name="rating" value="2" /><label for="rating2" title="1 star"></label>
                  <input type="radio" id="rating1" name="rating" value="1" /><label class="half" for="rating1" title="1/2 star"></label>
                  <!-- <input type="radio" id="rating0" name="rating" value="0" /><label for="rating0" title="No star"></label> -->
                </fieldset>
              </div>
            </div>
    <%}%>
        </div>
        <div class="form-row">
          <div class="form-group col-12 px-4">
            <label for="newReviewTextArea">Σχόλια</label>
            <textarea class="form-control" name="description" id="newReviewTextArea" rows="2"></textarea>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-12 px-4 d-flex justify-content-center justify-content-md-start">
              <button type="submit" class="btn btn-primary">Υποβολη Αξιολογησης</button>
          </div>
        </div>
      </form>
    <!-- </div>   -->
<%reviews.forEach(function(review){%>
  <div class="px-4 py-1 mx-3 mb-2 review-container">
    <div class="row px-4  py-1">
      <img class="pic mr-2" src="<%= review.photo %>"  height="80" width="80"></img>  
      <div class="pt-2 pl-2 mb-2">
        <div>
          <h4><%=review.author%></h4>
        </div>
        <div >
          <%=review.showDate%>
        </div>
      </div>
      <div class="star-ratings ml-1 mb-2">
        <div id="<%=review._id%>" class="fill-ratings" style="width: <%=review.rating.toPrecision(2)*10%>%">
          <div>★★★★★</div>
        </div>
        <div class="empty-ratings ">
          <div>★★★★★</div>
        </div>
      </div>
    </div>
    <div class="row px-4 py-2 mt-2">
        <%=review.description%>
    </div>
    </div>

    <%});%>
  </div>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script type="text/javascript" src="/scripts/products.js"></script>
<%- include("./../partials/footer")%>
