<%- include("./../partials/header")%>

<div id="main" class="main container main pb-1">
    <div class="row">
        <div class="col-md-6">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                <% Object.keys(images).forEach(function(key) { %>
                    <div class="carousel-item
                    <% if(key == 0){ %>
                        active">
                    <% } else{ %>
                        ">
                    <% } %>
                        <img class="d-block w-100" style="height:40em;" src="<%=images[key].url%>" alt="">
                    </div>
                <% }) %>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div id="desc" class="col-md-6 mx-auto mt-3">
          <div class="container-fluid">
          <%if(admin=="admin") {%>
            <form id="edit_form" action="/products/<%= product.type %>/<%=product._id %>/edit?_method=PUT" method="POST">
              <div class="row">
                <div class="col-12 pt-3 align-left">
                  <h2><input type="text" name="name" value="<%=product.name%>"></h2>
                </div>
              </div>
              <div class="row">
                <div class="col-12 mt-1 align-left">
                  <div class="star-ratings">
                    <div class="fill-ratings" id="star<%=product._id%>"style="width:<%=product.rating.toPrecision(2)*20%>%">
                      <div>★★★★★</div>
                    </div>
                    <div class="empty-ratings">
                      <div>★★★★★</div>
                    </div>
                  </div>
                  <span style="font-size:1.4rem;">(<%=product.rating.toPrecision(2) %>)</span>
                </div>
              </div>
              <div class="row">
                <div class="col-12 pt-2 align-left">
                  <h4><input type="number" min="1" style="width:2em;" name="price" value="<%=product.price%>">€</h4>
                </div>
              </div>
              <hr class="thin">
              <div class="row">
                <div class="col-12 mt-2 align-left">
                  <h5><textarea name="description" rows="10" cols="40"><%=product.description %></textarea></h5>
                </div>
              </div>
            </form>  
          <%}else{%>
              <div class="row">
                <div class="col-12 pt-3 align-left">
                  <h2><%=product.name%></h2>
                </div>
              </div>
              <div class="row">
                <div class="col-12 mt-1 align-left">
                  <div class="star-ratings">
                    <div class="fill-ratings" id="star<%=product._id%>"style="width:<%=product.rating.toPrecision(2)*20%>%">
                      <div>★★★★★</div>
                    </div>
                    <div class="empty-ratings">
                      <div>★★★★★</div>
                    </div>
                  </div>
                  <span style="font-size:1.4rem;">(<%=product.rating.toPrecision(2) %>)</span>
                </div>
              </div>
              <div class="row">
                <div class="col-12 pt-2 align-left">
                  <h4><%=product.price%>€</h4>
                </div>
              </div>
              <hr class="thin">
              <div class="row">
                <div class="col-12 mt-2 align-left">
                  <h5><%= product.description%></h5>
                </div>
              </div>
            <%}%>
                <form action="/products/<%=product.type%>/<%=product._id%>/add" method="POST">
                  <div class="row">
                    <div class="col-12 pt-5 align-left" >
                      <input type="number" name="qty" value="1" min="1" max="99" style="width:3rem">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <div class="pt-3 align-left">
                        <button type="submit" class="btn btn-dark btn-lg" style="border-radius:0px">
                          Προσθήκη στο καλάθι
                        </button>
                      </div>
                    </div>
                    <%if(admin=="admin") {%>
                    <div class="col-4">
                      <div class="pt-3 align-left">
                        <button type="submit" form="edit_form" class="btn btn-dark btn-lg" style="border-radius:0px">Αλλαγή</button>
                      </div>
                    </div>
                    <%}%>
                  </div>
                </form>
              </div>
        </div>
    </div>
    <hr class="pic thick mx-5 mt-5">
    <div class="row mx-auto my-2" style="text-align:center">
      <div class="mx-auto">
        <h3>
        Αξιολογήσεις
        </h3>
      </div>
    </div>

  <%if(product.reviews.length <= 0){ %>
    <div class="row mx-auto mt-2" style="text-align:center">
      <div class="mx-auto">
        <h5>
        Δεν υπάρχουν αξιολογήσεις! Προσθέστε μία τώρα!
        </h5>
      </div>
    </div>
  <%}%>

    <div class="py-4"style="background:#F5F5F5;">
      <form id="review-form" action="/products/<%=product.type%>/<%=product.id%>/review" method="POST">
        <input type="hidden" name="productType" value="<%=product.type%>">
        <input type="hidden" name="productId" value="<%=product._id%>">
        <div class="form-row">
  <%if(!currentUser){%>
            <div class="form-group col-md-6 px-4">
              <label for="nameRating">Ονoματεπώνυμο</label>
              <input type="text" class="form-control" name="author" id="nameRating" required>
            </div>
            <div class="form-group col-md-6 px-4">
              <div class="row">
                <label for="starRating" class="mx-auto">Βαθμολογία</label>
              </div>
              <div class="row">
                <fieldset class="rate mx-auto" id="starRating" >
                  <input type="radio" id="rating10" name="rating" value="10" required /><label for="rating10" title="5 stars"></label>
                  <input type="radio" id="rating9" name="rating" value="9" required/><label class="half" for="rating9" title="4 1/2 stars"></label>
                  <input type="radio" id="rating8" name="rating" value="8" required/><label for="rating8" title="4 stars"></label>
                  <input type="radio" id="rating7" name="rating" value="7" required/><label class="half" for="rating7" title="3 1/2 stars"></label>
                  <input type="radio" id="rating6" name="rating" value="6" required/><label for="rating6" title="3 stars"></label>
                  <input type="radio" id="rating5" name="rating" value="5" required/><label class="half" for="rating5" title="2 1/2 stars"></label>
                  <input type="radio" id="rating4" name="rating" value="4" required/><label for="rating4" title="2 stars"></label>
                  <input type="radio" id="rating3" name="rating" value="3" required/><label class="half" for="rating3" title="1 1/2 stars"></label>
                  <input type="radio" id="rating2" name="rating" value="2" required/><label for="rating2" title="1 star"></label>
                  <input type="radio" id="rating1" name="rating" value="1" required/><label class="half" for="rating1" title="1/2 star"></label>
                  <!-- <input type="radio" id="rating0" name="rating" value="0" /><label for="rating0" title="No star"></label> -->
                </fieldset>
              </div>
            </div>
    <%}else{%>
            <div class="form-group col-md-6 px-4">
              <div class="row">
                <label for="starRating" class="ml-3">Βαθμολογία</label>
              </div>
              <div class="row">
                <fieldset class="rate ml-3" id="starRating" >
                  <input type="radio" id="rating10" name="rating" value="10" required/><label for="rating10" title="5 stars"></label>
                  <input type="radio" id="rating9" name="rating" value="9" required/><label class="half" for="rating9" title="4 1/2 stars"></label>
                  <input type="radio" id="rating8" name="rating" value="8" required/><label for="rating8" title="4 stars"></label>
                  <input type="radio" id="rating7" name="rating" value="7" required/><label class="half" for="rating7" title="3 1/2 stars"></label>
                  <input type="radio" id="rating6" name="rating" value="6" required/><label for="rating6" title="3 stars"></label>
                  <input type="radio" id="rating5" name="rating" value="5" required/><label class="half" for="rating5" title="2 1/2 stars"></label>
                  <input type="radio" id="rating4" name="rating" value="4" required/><label for="rating4" title="2 stars"></label>
                  <input type="radio" id="rating3" name="rating" value="3" required/><label class="half" for="rating3" title="1 1/2 stars"></label>
                  <input type="radio" id="rating2" name="rating" value="2" required/><label for="rating2" title="1 star"></label>
                  <input type="radio" id="rating1" name="rating" value="1" required/><label class="half" for="rating1" title="1/2 star"></label>
                  <!-- <input type="radio" id="rating0" name="rating" value="0" /><label for="rating0" title="No star"></label> -->
                </fieldset>
              </div>
            </div>
    <%}%>
        </div>
        <div class="form-row">
          <div class="form-group col-12 px-4">
            <label for="newReviewTextArea">Σχόλια</label>
            <textarea class="form-control" name="description" id="newReviewTextArea" rows="2" required></textarea>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-12 px-4">
              <button type="submit" class="btn">Υποβολή Αξιολόγησης</button>
          </div>
        </div>
      </form>
    </div>
<%product.reviews.forEach(function(review){%>
    <div class="px-4 py-1 mx-3 my-2 review-container">
    <div class="row px-4 py-1">
      <img class="pic" src="https://i.pinimg.com/736x/af/53/55/af5355d2e928deb428fd3961a317cca4.jpg" height="100" width="80"></img>
      <div class="pt-2 pl-2 mb-2">
        <div>
          <h4><%=review.author%></h4>
        </div>
        <div >
          <%=review.date%>
        </div>
      </div>
      <div class="star-ratings ml-1">
        <div id="<%=review._id%>" class="fill-ratings" style="width: <%=review.rating.toPrecision(2)*10%>%">
          <div>★★★★★</div>
        </div>
        <div class="empty-ratings ">
          <div>★★★★★</div>
        </div>
      </div>
    </div>
    <div class="row px-4 py-2 mt-2">
        <%=review.description%>
    </div>
    </div>

    <%});%>
  </div>
<%- include("./../partials/footer")%>
